/* screen - frame-2 */

.frame-2 {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px none;
  height: 100vh;
  padding: 36px 59px;
}

.frame-2 .rectangle-1 {
  height: 445px;
  left: 60px;
  top: 181px;
  width: 463px;
  z-index: 1;
}

.frame-2 .rectangle-5 {
  height: 148px;
  left: 60px;
  top: 1736px;
  width: 961px;
  z-index: 2;
}

.frame-2 .rectangle-6 {
  height: 77px;
  left: 60px;
  top: 40px;
  width: 961px;
  z-index: 3;
}

.frame-2 .rectangle-2 {
  height: 445px;
  left: 60px;
  top: 671px;
  width: 463px;
  z-index: 4;
}

.frame-2 .rectangle-4 {
  height: 445px;
  left: 60px;
  top: 1161px;
  width: 463px;
  z-index: 6;
}

.frame-2 .rectangle-3 {
  height: 445px;
  left: 558px;
  top: 671px;
  width: 463px;
  z-index: 5;
}

.frame-2 .rectangle {
  background-color: var(--alto);
  position: fixed;
}
