
import { TransitionGroup } from 'vue';
import { transcode } from 'buffer';

<template>
  <div class="screen-top"></div>
  <div class="nav" id="nav">
    <router-link to="/">unknown_user</router-link> |
    <router-link to="/register">register (3)</router-link> |
    <router-link to="/nda">NDA</router-link> | 
    <router-link to="/user_menu">user_menu</router-link> |
  </div>
  
  <router-view v-slot="{ Component }">
    <transition name="route">
      <component :is="Component"></component>
    </transition>
  </router-view>
  <CurrentTime />

  <div class="screen"></div>
  <div v-html="rtcUE"></div>
</template>


<script>
  import CurrentTime from './components/CurrentTime.vue';
  export default{
    name: "App",
    components: { CurrentTime },
    data(){
      return{
        rtcUE: '<iframe class="BG_UE" src="http://localhost:8090/"></iframe>'
      }
    },
  }
</script>

<script setup>
</script>



<style>
  body {
    font-family: "Fabrikat-Medium", Helvetica;
    font-size: 20px;
    color: #666;
    background: #00000000;
    overflow: hidden; /* Disable scrollbars */
    transition: .3s;
  }

  ::-webkit-scrollbar {
    display: none;  /* Hide scrollbars */
  }

  #nav {
    padding: 30px;
    text-align: center;
    
  }
  #nav a {
    color: #666;
    text-decoration: none;
  }
  #nav a.router-link-exact-active {
    color: #fff;
  }

  a{
    text-decoration: none;
  }

  .screen{
        background: linear-gradient(180deg, rgba(21, 27, 32, 0) 65%, rgb(20, 28, 34) 85%, rgb(10, 14, 17, 1) 100%);
        height: 100%;
        position: absolute;
        width: 150%;
        transform: translateX(-500px);
        left: 0px;
        transition: 0.3s;
        z-index: -8888;
  }

  .BG_UE{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -88881;
    top: 0;
    right: 0;
    border: 0 solid;
  }

  .nav{
    position: relative;
    top: -200px;
  }

  .screen-top{
    background: linear-gradient(0deg, rgba(21, 27, 32, 0) 0%, rgb(17.6, 24.54, 29.75) 100%);
    height: 200px;
    position: relative;
    width: 110%;
    left: -10px;
    top: -100px;

  }


  .text
  {
    color:#000;
    font-family: "Fabrikat-Medium", Helvetica;
  }

  .text-button
  {
    color:#000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Fabrikat-Medium";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 73px;
    text-decoration: none;
  }

  .text-title
  {
    position: relative;
    display: flex;
    left: 40%;
    top: 126px;
    color: #FFF;
    font-family: "Fabrikat-Medium", Helvetica;
    font-size: 30px;
    font-style: normal;
  }

  .menu
  {
    border-radius: 49px;
    height: 702px;
    left: 110px;
    position: absolute;
    top: 860px;
    width: 726px;
  }

  .button
  {
    background: linear-gradient(180deg, rgba(238, 238, 238, 1) 29.77%, rgba(184, 187, 190, 1) 94.79%);
    border-radius: 13px;
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 336px;
    transition: .3s;
  }

  .button-group
  {
    border-radius: 13px;
    height: 88px;
    left: 214px;
    position: absolute;
    top: 200px;
    width: 336px;
  }

  .title-photo{
    left: 212px;
  }


  .icon-camera{
      height: 44px;
      left: 290px;
      object-fit: cover;
      position: relative;
      top: 75px;
      width: 58px;
  }


  @font-face {
    font-family: "Fabrikat-Medium";
    src: local("Fabrikat-Medium"),
    url(./fonts/Fabrikat-Medium.otf) format("opentype");
  }
  @font-face {
    font-family: "Fabrikat-Bold";
    src: local("Fabrikat-Bold"),
    url(./fonts/Fabrikat-Bold.otf) format("opentype");
  }
  @font-face {
    font-family: "futura";
    src: local("futura"),
    url(./fonts/futura.otf) format("opentype");
  }

  /* ROUTE TRANSITION */
  .route-enter-from{
    opacity: 0;
    transform: translateX(500px);
  }
  .route-enter-active{
    transition: all 0.3s ease-out;
  }
  .route-leave-to{
    opacity: 0;
    transform: translateX(-500px);
  }
  .route-leave-active{
    transition: all 0.3s ease-in;
  }

</style>



