<template>
    <div class="menu">
        <div class="menuBG menuNDA">
            <div class="ndaText"  :class="{signUI:bSignUI}">
                <p><ndaText/></p>
            </div>
            <div class="signPaint" :class="{signUI:bSignUI}">
                <p><signPaint /></p>
            </div>


            <p class="signing-a-document-i">
            Signing a document indicates your agreement with its contents, and serves as a <br />legal confirmation of
            your acceptance and commitment to fulfill any obligations outlined within.
            </p>
            <div class="sign sign-name">{{ registerData.first_name+'  '+registerData.last_name}}</div>
            <div class="sign sign-date">{{currentDate}}</div>
            <div class="sign sign-sign">Signature _____________________ 
                <div class="button button-sign" :class="{hidden:bSignUI}" v-on:click="signUI()" >Sign ⬇</div>
            </div>
            <div class="sign output" :class="{hidden:!bSignUI}"><img :src="image" /></div>

            <div class="button button-next cNDA" :class="{buttonActive:false}"></div>
            <div class="button button-back  buttonNDA" :class="{buttonActive:true}"></div>
            
            <div class="button carousel cNDA"></div>
            <div class="button carousel cNDA c2" ></div>
            <div class="button carousel cNDA c3" :class="{cActive:true}"></div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import ndaText from '../components/ndaText.vue'
import signPaint from '../components/signPaint.vue';

export default {
    create() {
        window.addEventListener("load", this.createPUT);
    },
    data(){
        return{
            formData: {
                objectPath: '/Game/Maps/MHC_LightingPresets_RT/MHC_LightingPreset_Portrait_RT.MHC_LightingPreset_Portrait_RT:PersistentLevel.BP_CC4_Pawn_C_0',
                functionName: 'Button1',
                parameters: {
                    index_Anim:2
                },
                generateTransaction:true
            },
            headers: { 'Content-Type':'application/json'},
            registerData: {
                    first_name: '',
                    last_name: '',
            },
            currentDate: '0000/00/00',
            bSignUI:false,
            image:"",
        }
        
    },
    components: {ndaText, signPaint},
    created() {
        // Get current year/month/day
        this.getDate(); 
        // Get data from registration phase
        this.registerData.first_name = window.localStorage.getItem("formData.first_name");
        this.registerData.last_name = window.localStorage.getItem("formData.last_name");
        this.image = window.localStorage.getItem("vue-drawing-canvas");
    
    },
    methods: {
        createPUT(id) {
            if(id){
                this.formData.parameters.index_Anim = id;
            }
            
            try{
                axios.put('http://localhost:30010/remote/object/call', this.formData, { headers: {'Content-Type':'application/json'}} )
                    .then(response => console.log(response))
                    .catch(error => console.log(error));
            } catch(error){console.log(error)}

        },
        getDate() {
            const options = {
                timeZone: "America/Los_Angeles",}
            this.currentDate = Intl.DateTimeFormat("en-US", options).format(new Date());
            return;
        },

        // Show sign paint component
        signUI(){
            this.bSignUI=true;
            console.log("signUI()");
        },

        // Sign up logic
        sign(){
            this.$router.push({ path: '/user_menu' });
            // TODO:    set photo_path recived from Tayaab to DB
            // TODO:    fs.writeFile('../../../nda'+this.image)


            // Clear Data for next session
            window.localStorage.setItem("formData.first_name", '');
            window.localStorage.setItem("formData.last_name", '');
            window.localStorage.setItem("formData.email", '');

        }
    },
};

</script>



<style>
    .buttonNDA{
        left:365px;
        top:859.5px;
    }
    
    .menuNDA{
        left: 0px;
        top: -280px;
        height: 961px;
        width: 830px;
    }

    .signing-a-document-i{
        color: #808080;
        font-size: 14.4px;
        left: -20px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        text-align: center;
        top: 660px;
        width: 670px;
    }

    .sign{
        left: 505px;
        top: 770px;
        position: absolute;
        color: #FFF;
        font-size: 15px;
    }

    .button-sign
    {
        width: 80px;
        height: 30px;
        color: #000;
        text-align: center;
        line-height: 30px;
        top: -20px;
        left: 65px;
        border-radius: 9px;
        border: 0px solid #666;

    }

    .button-sign:active{
        color: #ddd;
        background: #fff;
        border-radius: 24px;
    }

    .button-sign.hidden{
        z-index: -444;
        background: #fff;
        color: #fff;
        transform: scale(9);
        width: 68px;
        height: 40px;
        left: -130px;
        top: -465px;
        opacity: 1;
    }


    .sign-date{
        left: 160px;
    }
    .sign-name{
        left: 160px;
        transform: translateY(-22px);
    }

    .sign.output{
        left:310px;
        top:615px;
        position: absolute;
        filter: invert();
        transform:scale(0.22, 0.22)
    }

    .sign.output.hidden{
        top: 1500px;
        opacity: 0;
    }

    .ndaText{
        position: absolute;
        opacity: 1;
        transition: 0.2s;
    }

    .ndaText.signUI{
        opacity: 0;
    }

    .signPaint{
        z-index: -999;
        top:120px;
        opacity: 0;
        position: absolute;
        transition: all 0.3s;
    }
    .signPaint.signUI{
        opacity: 1;
        top:120px;
        z-index: 333;
    }
</style>