<template>
    <div :class="{keyboard_screen:keyboard.field, screen:keyboard.field}"></div>
    <div class="menu register">
            <transition-group tag="div" class="menuBG menuRegister" :class="{menuPhoto_01:!register, menuKeyboard:keyboard.field}" name="register" appear>
                <div class="text-title title-register">Fill out the fields</div>
                <div class="register-input">
                    <ul>
                    <li class="li-register">
                        <div class="input_name" :class="{badValue:!inputFields.first_name}">First Name*</div>
                            <input 
                            class="input firstName"
                            :class="{badValue:!inputFields.first_name, active:(keyboard.field==1)}"
                            type="text" 
                            v-model="formData.first_name" 
                            @keypress.enter=""
                            placeholder="Enter your First name"
                            @click="keyboard.field='1'"
                            />
                    </li>
                    <li class="li-register">
                        <div class="input_name" :class="{badValue:!inputFields.last_name}">Last Name*</div>
                            <input
                            class="input lastName"
                            :class="{badValue:!inputFields.last_name, active:(keyboard.field==2)}"
                            type="text" 
                            v-model="formData.last_name" 
                            @keypress.enter=""
                            placeholder="Enter your Last name"
                            @click="keyboard.field='2'"
                            />
                    </li>
                    <li class="li-register">
                        <div class="input_name" :class="{badValue:!inputFields.email}">Email*</div>
                            <input
                            class="input email"
                            :class="{badValue:!inputFields.email, active:(keyboard.field==3)}"
                            type="text" 
                            v-model="formData.email" 
                            @keypress.enter="registerLogic()"
                            placeholder="John@scissorfilms.com"
                            @click="keyboard.field='3'"
                            />
                    </li>
                    </ul>
                </div>
            </transition-group>

            <transition-group tag="div" class="keyboard" :class="{active:keyboard.field}" name="keyboard" appear>
                <div>
                    <span v-for='key in keyboard.top'>
                    <button class="keyboard_key" @click="pressedKey(key)">{{ key }}</button>
                </span><button class="keyboard_key fn backspace" @click="pressedKey('Backspace')">{{ '⌫' }}</button>
            </div>
                <div><button class="keyboard_key separator"></button>
                    <span v-for='key in keyboard.middle'>
                    <button class="keyboard_key" @click="pressedKey(key)">{{ key }}</button>
                </span><button class="keyboard_key enter" @click="pressedKey('Enter')">{{ '→' }}</button>
                </div>
                <div><button class="keyboard_key fn shift" :class="{toggle:keyboard.capsLock}" @click="pressedKey('Shift')">{{ '⇧' }}</button>
                    <span v-for='key in keyboard.bottom'>
                    <button class="keyboard_key" @click="pressedKey(key)">{{ key }}</button>
                </span><button class="keyboard_key fn shift" @click="pressedKey('Shift')">{{ '⇧' }}</button>
                </div>
                <div>
                    <span>
                    <button class="keyboard_key fn alt" :class="{toggle:keyboard.symbols}" @click="pressedKey('?123')">{{ '¹²³' }}</button>
                    <button class="keyboard_key" @click="pressedKey(',')">{{ ',' }}</button>
                    <button class="keyboard_key space" @click="pressedKey(' ')">{{ ' ' }}</button>
                    <button class="keyboard_key" @click="pressedKey('@')">{{ '@' }}</button>
                    <button class="keyboard_key" @click="pressedKey('.')">{{ '.' }}</button>
                    <button class="keyboard_key fn alt" @click="pressedKey('?123')">{{ '¹²³' }}</button>
                </span></div>
            </transition-group>
            
            <transition-group tag="div" class="menuBG menuRegister menuButtons" :class="{menuPhoto_01:!photo_taking}" name="photo_01">
                <transition-group tag="div" :class="{menuPhoto_02:photo_taking_02}" name="photo_02">
                    <img
                    class="icon-camera"
                    src="../img/10-104955-camera-icon-white-small-camera-icon-white-png-1@2x.png"
                    alt="icon-camera"
                    />
                    <div class="text-title title-photo">Please take a photo</div>
                    <div class="button text-button button-start-photo" v-on:click="startPhotoTaking()">Start</div>
                </transition-group>
            </transition-group>


            <transition-group tag="div" :class="{menuPhoto_02:!photo_taking_02}" name="photo_02">
                <div class="photoApp"></div>
            </transition-group>

            <transition-group tag="div" class="menuButtons" :class="{menuPhoto_02:photo_taking_02, menuButtons_Keyboard:keyboard.field}" name="photo_02">
                <div class="button button-next" :class="{buttonActive:!photo_taking}" v-on:click="registerLogic(true)"></div>
                <div class="button button-back" :class="{buttonActive:photo_taking}" v-on:click="registerLogic(false)"> </div>
                <div class="button carousel" :class="{cActive:register}"></div>
                <div class="button carousel c2" :class="{cActive:photo_taking&&!ndaPage}"></div>
                <div class="button carousel c3" :class="{cActive:ndaPage}"></div>
            </transition-group>

        </div>
</template>


<script>
    import TYPESOUND_1 from '../../audio/TYPESOUND_1.mp3'
    import TYPESOUND_2 from '../../audio/TYPESOUND_2.mp3'
    import TYPESOUND_3 from '../../audio/TYPESOUND_3.mp3'
    
    import axios from 'axios'
    export default{
        name: 'registerLogic',
        props: ['time'],
        data(){
            return{
                formData: {
                    first_name: '',
                    last_name: '',
                    email: '',
                    photo: '#to be replaced',
                    nda: '#to be replaced',
                    last_seen: '',
                },
                inputFields: {
                    first_name: true,
                    last_name: true,
                    email: true,
                },
                photoTaking_body: {
                    action : "take_picture",
                    UID: 1
                },
                register:true,
                photo_taking:false,
                photo_taking_02:false,

                keyboard:{
                    top: 'qwertyuiop',
                    middle: 'asdfghjkl',
                    bottom: 'zxcvbnm!?',
                    field: 0,
                    capsLock: false,
                    symbols: false,
                    bValidation: false,
                }
            }
        },
        created(){
            // Clear Data from previous session
            window.localStorage.setItem("formData.first_name", 'Cori');
            window.localStorage.setItem("formData.last_name", 'Assistant');
            window.localStorage.setItem("formData.email", 'Cori@scissorfilms.com');
        },
        methods: {
            registerLogic(button_next) {
                if (this.register && button_next ){
                    this.formData.last_seen = Intl.DateTimeFormat(navigator.language, { hour: 'numeric',minute: 'numeric',seconds: 'numeric'}).format();
                    window.localStorage.setItem("formData.last_seen", this.formData.last_seen);

                    if(this.keyboard.bValidation){
                        if (!this.formData.first_name){ this.inputFields.first_name=false; console.log("[first_name] badValue"); }
                            if (!this.formData.last_name){ this.inputFields.last_name=false; console.log("[last_name] badValue"); } 
                            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.formData.email)) {}
                                else {this.inputFields.email=false; console.log("[email] badValue"); return;  }
                            return;
                    } else {
                            axios.post('http://127.0.0.1:30010', JSON.stringify(this.formData), { headers: {'Content-Type':'application/x-www-form-urlencoded'}})
                                .then(response => {console.log(response); window.localStorage.setItem("formData.UID", response)})
                                .catch(error => console.log(error));

                            console.log(window.localStorage.getItem("formData.UID"));
                            console.log(this.formData);
                            console.log(this.formData.last_seen);
                            
                            // Save Data for this session
                            window.localStorage.setItem("formData.first_name", this.formData.first_name);
                            window.localStorage.setItem("formData.last_name", this.formData.last_name);
                            window.localStorage.setItem("formData.email", this.formData.email);

                            // Change state to Start Photo Page
                            this.register=false;
                            this.photo_taking=true;
                            this.keyboard.field = 0;    this.inputFields.first_name=true;   this.inputFields.last_name=true;    this.inputFields.email=true;
                            return; }

                } else if(this.photo_taking && !button_next ){
                    this.register=true;
                    this.photo_taking=false; }
            },
            startPhotoTaking(){
                this.photo_taking_02=true;

                //this.photoTaking_body.UID = window.localStorage.getItem("formData.UID");
                axios.put('http://127.0.0.1/coriapi/save_new.php', JSON.stringify(this.photoTaking_body), { headers: {'Content-Type':'application/json'}})
                .then(response => console.log(response))
                .catch(error => console.log(error));
            },
            pressedKey(key){
                // link sound effects
                const typeSound_1 = new Audio(TYPESOUND_1);
                const typeSound_2 = new Audio(TYPESOUND_2);
                const typeSound_3 = new Audio(TYPESOUND_3);
                //////  [BACKSPACE] logic
                if(key=='Backspace'){
                    typeSound_3.play(); // Sound effect
                    var field = this.keyboard.field;
                    if(field==1){
                        this.formData.first_name = this.formData.first_name.slice(0, -1);
                        if(this.keyboard.bValidation){
                            if (!this.formData.first_name){ this.inputFields.first_name=false; console.log("[first_name] badValue"); }
                        }
                        return;
                    }
                    if(field==2){
                        this.formData.last_name = this.formData.last_name.slice(0, -1);
                        if(this.keyboard.bValidation){
                            if (!this.formData.last_name){ this.inputFields.last_name=false; console.log("[last_name] badValue"); } 
                        }
                        return;
                    }
                    if(field==3){
                        this.formData.email = this.formData.email.slice(0, -1); 
                        if(this.keyboard.bValidation){
                            //if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.formData.email)) {this.inputFields.email=true;return;   }
                            //else {this.inputFields.email=false; console.log("[email] badValue"); return   }
                        }
                        return;
                    } 
                }

                //////  [SHIFT] logic
                if(key=='Shift'){
                    typeSound_2.play(); // Sound effect
                    if(this.keyboard.capsLock==false){
                        this.keyboard.symbols = false;
                        this.keyboard.capsLock = true;
                        this.keyboard.top = 'QWERTYUIOP';
                        this.keyboard.middle = 'ASDFGHJKL';
                        this.keyboard.bottom = 'ZXCVBNM!?';
                        return  }
                    this.keyboard.capsLock = false;
                    this.keyboard.top = 'qwertyuiop';
                    this.keyboard.middle = 'asdfghjkl';
                    this.keyboard.bottom = 'zxcvbnm!?';
                    return  }

                //////  [ENTER] logic
                if(key=='Enter'){
                    typeSound_2.play(); // Sound effect
                    if (this.keyboard.field < 3){
                        ++this.keyboard.field; return   }
                    this.keyboard.field = 0;
                    //registerLogic()
                    return  }
                //////  [?123] logic
                if(key=='?123'){
                    typeSound_2.play(); // Sound effect
                    if(this.keyboard.symbols==false){
                        this.keyboard.capsLock = false;
                        this.keyboard.symbols = true;
                        this.keyboard.top = '1234567890';
                        this.keyboard.middle = '-/:;()$&@';
                        this.keyboard.bottom = '.,?!`"<>~';
                        return  }
                    this.keyboard.symbols = false;
                    this.keyboard.top = 'qwertyuiop';
                    this.keyboard.middle = 'asdfghjkl';
                    this.keyboard.bottom = 'zxcvbnm!?';
                    return  }

                //////  TARGET FIELD
                if(key==' '){ typeSound_2.play(); } else typeSound_1.play();  // Sound effect
                var field = this.keyboard.field;
                    if(field==1){
                        this.formData.first_name += key; if(this.keyboard.bValidation){this.inputFields.first_name=true;}
                        return;
                    }
                    if(field==2){
                        this.formData.last_name += key; if(this.keyboard.bValidation){this.inputFields.last_name=true;}
                        return;
                    }
                    if(field==3){
                        this.formData.email += key;
                        if(this.keyboard.bValidation){
                            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.formData.email)) {this.inputFields.email=true;return; }
                            else {this.inputFields.email=false; console.log("[email] badValue"); return }
                        }
                        return;
                    }
                    return;
            }
        }
    }
</script>

<style>
    @import 'css/unkown-user-screen.css';

    .body{
        transform: translateY(300px);
        position: relative;
    }

    .unkown-user-screen{
        background: #00000066;
    }
    .title-register{
        top:80px;
        font-size: 40px;
        font-family: "Fabrikat-Bold";
        left: 185px;
        
    }
    
    .menuBG{
        background: 
            linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.8) 3.12%, rgba(52, 59, 68, 0.7) 50%, rgba(27, 27, 27, 0.7) 100%) padding-box,
            linear-gradient(180deg, rgb(255, 255, 255, 0.3), rgba(0, 0, 0, .2)) border-box;
        border: 1px solid transparent;
        border-radius: 49px;
        height: 702px;
        left: 300px;
        width: 726px;
        top: 0px;
        backdrop-filter: blur(10px);
    }

    .menuButtons{
        top: -360px;
        position: relative;
    }

    .menuButtons_Keyboard{
        top: -760px;
        position: relative;
    }

    .menuRegister{
        left: 70px;
        height: 666px;
        width: 642px;
        opacity: 1;
        position: relative;
        top: 300px;
        transition: .3s;
    }

    .menuKeyboard{
        top: -100px;
        position: relative;

    }


    input {
        width: 291px;
        padding: 17px;
        border-radius: 10px;
        border: 0px solid;
        margin-bottom: 22px;
        margin-top: 9px;
        color:#FFFFFFFF;
        background: #323538;
        font-family: "Fabrikat-Medium", Helvetica;
        font-size: 15px;
        transition: .3s;
    }

    .input.active{
        border: 2px solid #ffffff;
    }

    .input:focus{
        border: 2px solid #ffffff;
    }

    .input_name{
        color:#FFF;
        font-size: 16px;
    }

    .input.badValue{
        border: 2px solid red;
    }

    .input_name.badValue{
        color: red;
    }

    ::placeholder{
        color: #FFFFFF;
        opacity: 0.5;
    }

    .li-register { 
        margin-bottom: 10px;
        list-style: none;
        position: relative;
        left: 20%;
        top: 130px;
    }


    .button-back{
        top:560px;
        left: 320px;
        width: 50px;
        height: 50px;
        background: #2D2D2D00;
        background-image: url("../img/icon_bBack.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
    }


    .button-next{
        top:560px;
        left: 400px;
        width: 50px;
        height: 50px;
        background: #2D2D2D00;
        background-image: url("../img/icon_bNext.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50px;
    }
    .buttonActive{
        filter: invert();
    }


    .carousel{
        top:635px;
        left: 318px;
        width: 33px;
        height: 6px;
        background: #2D2D2D;
    }
            .c2{
                margin-left: 50px;
            }
    
                    .c3{
                        margin-left: 100px;
                    }

    .cActive{
        background: #666666;
    }

            .menuPhoto_01{
                opacity: 0;
                transition: all 0.4s;
                transform: translateX(-1200px);
                position: absolute;
            }
            .menuPhoto_02{
                opacity: 0;
                transition: all 0.4s;
            }

            .photoApp{
                top:300px;
                width: 300px;
                color: #000;
                background: #000;
                position: relative;
            }

    .button-start-photo{
        left: 222px;
        position: absolute;
        top: 310px;
        height: 62px;
        width: 210px;
        font-size: 40px;
        border-radius: 20px;
        background: #D9D9D9;
        font-family: "Fabrikat-Bold";
    }

    .keyboard{
        position: absolute;
        top: 1500px;
        width: 120%;
        overflow: hidden;
        transition: .3s;
    }

    .keyboard.active{
        top: 600px;
    }

    .keyboard_screen{
        background: linear-gradient(180deg, rgba(21, 27, 32, 0) 40%, rgb(20, 28, 34) 72%, rgb(10, 14, 17, 1) 100%); 
    }

    .keyboard_key{
        font-size: 30px;
        line-height: 30px;
        margin: 5px;
        border-radius: 13px;
        border: 0px solid #1a1a1a33;
        font-family: "Fabrikat-Medium";
        width: 66px;
        height: 66px;
        background-color: #2a373d66;
        color: #FFF;
        transition: .1s;
        backdrop-filter: blur(4px);
    }

    button:active{
        background-color: #44565F;
        border-radius: 20px;
        border: 0px solid #FFFFFF22;
    }

    button.fn:active{
        background-color: #fafafa;
        color:#000;
        border-radius: 20px;
        border: 0px solid #FFFFFF22;
    }

    .keyboard_key.separator{
        width: 29px;
        height: 0px;
        opacity: 0;
    }

    .keyboard_key.enter{
        background-color: #097CFB;
        width: 102px;
        font-size: 30px;
        letter-spacing: 0;
    }

    .keyboard_key.enter:active{
        background-color: #e2effd;
        color: #333;
        width: 102px;
        font-size: 30px;
        letter-spacing: 0;
    }

    .keyboard_key.space{
        width: 448px;
    }

    .keyboard_key.toggle{
        background-color: #e6e6e6;
        color: #000;
        font-weight: bold;
    }


</style>
