<template>
    <div class="unknown_user_menu">
        <howCanIHelp class="howCanIHelp-big translate-howCanIHelp-big"/>
    </div>
</template>


<script>
 import howCanIHelp from '../components/howCanIHelp.vue';
    export default{
        components: { howCanIHelp }
    }
</script>



<style>
    @import 'css/unkown-user-screen.css';

    .body
    {
        transform: translateY(300px);
        position: relative;
    }

    .unknown_user_menu{
        left: 50px;
        position: absolute;
    }

    .howCanIHelp-big{
        transform: scale(140%);
    }

    .num2
    {
        top: 300px;
    }

    .num3
    {
        top: 400px;
    }
</style>
