<template>
    <div class="user_menu">
        <howCanIHelp class="howCanIHelp-translate"/>
        <Schedule/>
    </div>
</template>

<script>
    import Schedule from '../components/Schedule.vue';
    import howCanIHelp from '../components/howCanIHelp.vue';
    export default{
        components: { Schedule, howCanIHelp },
  }
</script>

<style>
    @import 'css/unkown-user-screen.css';

    .body
    {
        transform: translateY(300px);
    }

    .menuBG-small
    {
        background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
        border-color: transparent;
        border-radius: 49px;
        height: 394px;
        left: 0;
        position: absolute;
        top: 0;
        width: 456px;
    }

    .howCanIHelp-translate{
        left: 586px;
        top: 765px;
    }


    .button-group-small{
        left:56px;
        top:80px;
    }

    .num2-small{
        top:177px;
    }
    .num3-small{
        top:274px;
    }

    .user_menu{
        left: 0px;
        position: absolute;
    }


</style>
