/* screen - complete-profile */

.complete-profile {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1920px;
  overflow: hidden;
  width: 1080px;
}

.complete-profile .overlap-group1 {
  height: 2190px;
  margin-left: -9px;
  margin-top: -8.0px;
  position: relative;
  width: 1097px;
}

.complete-profile .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.complete-profile .cori_alpha-1 {
  height: 1162px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 819px;
}

.complete-profile .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 262px;
  width: 1080px;
}

.complete-profile .x1032-am {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.complete-profile .overlap-group {
  border-radius: 49px;
  height: 668px;
  left: 227px;
  position: absolute;
  top: 1030px;
  width: 644px;
}

.complete-profile .rectangle-4143 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 668px;
  left: 0;
  position: absolute;
  top: 0;
  width: 644px;
}

.complete-profile .rectangle-4159 {
  background-color: var(--stack);
  border-radius: 21px;
  height: 62px;
  left: 244px;
  position: absolute;
  top: 521px;
  width: 155px;
}

.complete-profile .group-4625 {
  left: 177px;
  top: 139px;
  width: 260px;
}

.complete-profile .text {
  height: 19px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
  width: 258px;
}

.complete-profile .group-4626 {
  left: 100px;
  top: 399px;
  width: 445px;
}

.complete-profile .text-1 {
  height: 19px;
  width: 443px;
}

.complete-profile .rectangle {
  background-color: var(--heavy-metal);
  border-radius: 4px;
  height: 6px;
  width: 31.75px;
}

.complete-profile .text-2 {
  left: 520px;
  position: absolute;
  top: 1571px;
}

.complete-profile .ellipse-121 {
  height: 155px;
  left: 471px;
  object-fit: cover;
  position: absolute;
  top: 1239px;
  width: 155px;
}

.complete-profile .group {
  display: flex;
  height: 19px;
  position: absolute;
}

.complete-profile .text-3 {
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}
