/* screen - fill-out-the-flieds-basic-info */

.fill-out-the-flieds-basic-info {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1920px;
  overflow: hidden;
  width: 1080px;
}

.fill-out-the-flieds-basic-info .overlap-group3 {
  height: 2190px;
  margin-left: -9px;
  margin-top: -8.0px;
  position: relative;
  width: 1097px;
}

.fill-out-the-flieds-basic-info .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.fill-out-the-flieds-basic-info .cori_alpha-1 {
  height: 1162px;
  left: 126px;
  object-fit: cover;
  position: absolute;
  top: 135px;
  width: 819px;
}

.fill-out-the-flieds-basic-info .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 262px;
  width: 1080px;
}

.fill-out-the-flieds-basic-info .x1032-am {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.fill-out-the-flieds-basic-info .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/rectangle-4143.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 667px;
  left: 228px;
  min-width: 643px;
  padding: 87.5px 170.5px;
  position: absolute;
  top: 1030px;
}

.fill-out-the-flieds-basic-info .group-4625 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 348px;
  width: 299px;
}

.fill-out-the-flieds-basic-info .text-2 {
  margin-left: 4px;
  min-height: 19px;
}

.fill-out-the-flieds-basic-info .text-3 {
  margin-left: 4px;
  margin-top: 92px;
  min-height: 19px;
}

.fill-out-the-flieds-basic-info .text-4 {
  height: 19px;
  margin-left: 12.1px;
  margin-top: 12.1px;
  width: 122px;
}

.fill-out-the-flieds-basic-info .text {
  letter-spacing: 0;
  line-height: 18.2px;
  margin-left: 4px;
  margin-top: 18px;
  min-height: 19px;
  white-space: nowrap;
}

.fill-out-the-flieds-basic-info .overlap-group {
  align-items: flex-start;
  background-color: var(--onyx);
  border-radius: 9.1px;
  display: flex;
  height: 42px;
  min-width: 291px;
  padding: 10px 12px;
}

.fill-out-the-flieds-basic-info .text-1 {
  min-height: 19px;
}

.fill-out-the-flieds-basic-info .overlap-group1 {
  align-items: flex-start;
  background-color: var(--onyx);
  border-radius: 9.1px;
  display: flex;
  height: 42px;
  min-width: 291px;
  padding: 11px 12px;
}

.fill-out-the-flieds-basic-info .left {
  border: 2px solid;
  border-color: #2d2d2d;
  border-radius: 15px;
  display: flex;
  height: 50px;
  width: 50px;
}

.fill-out-the-flieds-basic-info .right {
  border: 2px solid;
  border-color: #848484;
  border-radius: 15px;
  display: flex;
  height: 50px;
  width: 50px;
}

.fill-out-the-flieds-basic-info .rectangle-1 {
  background-color: #606060;
  border-radius: 4px;
  height: 6px;
  width: 31.75px;
}

.fill-out-the-flieds-basic-info .rectangle {
  background-color: var(--heavy-metal);
  border-radius: 4px;
  height: 6px;
  width: 31.75px;
}
