@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,600");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63d8552a99d747415d5cfcb0.63d8552b27e7069f0a8eed34.fndOiif.hcp.png");

@font-face {
  font-family: "Fabrikat-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Fabrikat-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Fabrikat-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Fabrikat-Regular.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
