.weather-list {
  color: var(--white);
  font-family: var(--font-family-fabrikat-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: -0.13px;
  line-height: 32px;
  display: flex;
  margin-left: 0px;
  margin-bottom: 1px;
  min-height: 18px;
  min-width: 21px;
  margin-right: 7px;
}

.weatherWeek-bg{
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(35, 48, 57) 0%, rgb(42.89, 50.6, 59.5) 100%);
  border-radius: 12.23px;
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  align-items: flex-start;
  left: 775px;
  position: absolute;
  top: 1545px;
  transform: scale(107%, 107%);
  width: 230px;
  
}

.weather-temp{
  margin-left: 32px;
  letter-spacing: -0.13px;
  position: absolute;
  left: 70px;
}

.weather-icon{
  margin-left: 30px;
  height: 16px;
  transform: translate(0px, 5px);
  position: absolute;
  left: 125px;
}

.weather-main{
  margin-left: 6px;
  position: absolute;
  left: 170px;
}

.weather-icon-Today{
  height: 171px;
  width: 169px;
}

.schedule-day {
  left: 428px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1103px;
}
