/* screen - slide-16-9-43-all-breakpoints */

.slide-16-9-43-all-breakpoints {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1920px;
  overflow: hidden;
  width: 1080px;
}

.slide-16-9-43-all-breakpoints .overlap-group4-1 {
  height: 2190px;
  margin-left: -9px;
  margin-top: -8.0px;
  position: relative;
  width: 1097px;
}

.slide-16-9-43-all-breakpoints .rectangle-4136-1 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.slide-16-9-43-all-breakpoints .cori_alpha-1-1 {
  height: 1162px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 819px;
}

.slide-16-9-43-all-breakpoints .rectangle-4138-1 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 262px;
  width: 1080px;
}

.slide-16-9-43-all-breakpoints .rectangle-4152-1 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 423px;
  left: 578px;
  position: absolute;
  top: 1472px;
  width: 456px;
}

.slide-16-9-43-all-breakpoints .x1032-am-1 {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.slide-16-9-43-all-breakpoints .weather-information-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 595px;
  min-height: 271px;
  position: absolute;
  top: 1540px;
  width: 175px;
}

.slide-16-9-43-all-breakpoints .rain-container-1 {
  height: 171px;
  margin-right: 6.0px;
  position: relative;
  width: 169px;
}

.slide-16-9-43-all-breakpoints .rainy-3 {
  left: 64px;
  position: absolute;
  top: 152px;
}

.slide-16-9-43-all-breakpoints .rain-clouds-1 {
  height: 171px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 169px;
}

.slide-16-9-43-all-breakpoints .sat-19-mar-2022-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-right: 20.2px;
  margin-top: 10px;
  min-height: 16px;
  min-width: 81px;
}

.slide-16-9-43-all-breakpoints .x52-f-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-right: 30.0px;
  margin-top: 16px;
  min-height: 58px;
  min-width: 89px;
}

.slide-16-9-43-all-breakpoints .this-week-weather-1 {
  align-items: flex-start;
  display: flex;
  height: 279px;
  left: 764px;
  min-width: 291px;
  position: absolute;
  top: 1545px;
}

.slide-16-9-43-all-breakpoints .flex-col-7 {
  -webkit-backdrop-filter: blur(3.16px) brightness(100%);
  backdrop-filter: blur(3.16px) brightness(100%);
  background: linear-gradient(180deg, rgb(35, 48, 57) 0%, rgb(42.89, 50.6, 59.5) 100%);
  border-radius: 12.23px;
  gap: 8px;
  min-height: 279px;
  padding: 19.8px 12.5px;
  width: 249px;
}

.slide-16-9-43-all-breakpoints .flex-col-8 {
  align-self: flex-end;
  min-height: 213px;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .flex-col-9 {
  gap: 9px;
  min-height: 176px;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .flex-col-10 {
  min-height: 139px;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .flex-col-11 {
  gap: 9px;
  min-height: 102px;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .flex-col-12 {
  gap: 9px;
  min-height: 65px;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .flex-col-13 {
  gap: 9px;
  min-height: 28px;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .flex-row-6 {
  align-items: center;
  display: flex;
  min-width: 216px;
}

.slide-16-9-43-all-breakpoints .sun-20-mar-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  min-height: 15px;
  min-width: 70px;
}

.slide-16-9-43-all-breakpoints .text-15 {
  margin-bottom: 0.81px;
  margin-left: 32px;
}

.slide-16-9-43-all-breakpoints .rainy-2 {
  margin-bottom: 0.81px;
  margin-left: 6px;
  min-height: 15px;
  min-width: 34px;
}

.slide-16-9-43-all-breakpoints .line-1 {
  height: 1px;
  margin-left: 0;
  object-fit: cover;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .x-mar-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  min-height: 15px;
  min-width: 69px;
}

.slide-16-9-43-all-breakpoints .text-1 {
  margin-bottom: 0.81px;
  margin-left: 33px;
}

.slide-16-9-43-all-breakpoints .flex-row-7 {
  align-items: center;
  display: flex;
  min-width: 220px;
}

.slide-16-9-43-all-breakpoints .tue-22-mar-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  min-height: 15px;
  min-width: 68px;
}

.slide-16-9-43-all-breakpoints .text-17 {
  margin-bottom: 0.81px;
  margin-left: 34px;
}

.slide-16-9-43-all-breakpoints .storm-thunder-svgrepo-com-1 {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-43-all-breakpoints .storm-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  margin-left: 6px;
  min-height: 15px;
  min-width: 38px;
}

.slide-16-9-43-all-breakpoints .flex-row-8 {
  align-items: center;
  display: flex;
  margin-top: 9px;
  min-width: 224px;
}

.slide-16-9-43-all-breakpoints .wed-23-mar-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-top: 0.77px;
  min-height: 15px;
  min-width: 71px;
}

.slide-16-9-43-all-breakpoints .text-18 {
  margin-left: 31px;
  margin-top: 0.77px;
}

.slide-16-9-43-all-breakpoints .cloudy-2 {
  margin-top: 0.77px;
}

.slide-16-9-43-all-breakpoints .line-4-2 {
  margin-left: 0;
  margin-top: 10px;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .flex-row-9 {
  align-items: center;
  display: flex;
  min-width: 224px;
}

.slide-16-9-43-all-breakpoints .cloudy-3 {
  margin-bottom: 0.81px;
}

.slide-16-9-43-all-breakpoints .flex-row-10 {
  align-items: flex-end;
  display: flex;
  margin-top: 8px;
  min-width: 221px;
}

.slide-16-9-43-all-breakpoints .fri-25-mar-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  min-height: 15px;
  min-width: 62px;
}

.slide-16-9-43-all-breakpoints .text-20 {
  margin-bottom: 0.02px;
  margin-left: 40px;
}

.slide-16-9-43-all-breakpoints .sunny-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  margin-left: 6px;
  min-height: 15px;
  min-width: 39px;
}

.slide-16-9-43-all-breakpoints .line-6-2 {
  margin-left: 0;
  margin-top: 11px;
  width: 224px;
}

.slide-16-9-43-all-breakpoints .flex-row-11 {
  align-items: flex-end;
  display: flex;
  margin-left: 0.11px;
  min-width: 221px;
}

.slide-16-9-43-all-breakpoints .sat-26-mar-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  min-height: 15px;
  min-width: 67px;
}

.slide-16-9-43-all-breakpoints .text-21 {
  margin-bottom: 0.02px;
  margin-left: 35px;
}

.slide-16-9-43-all-breakpoints .rectangle-4139-1 {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background: linear-gradient(180deg, rgba(72.4, 73.14, 78.63, 0.25) 40.53%, rgba(64.67, 73.72, 88.19, 0.25) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1;
  border-radius: 49px;
  height: 837px;
  left: 48px;
  position: absolute;
  top: 1058px;
  width: 507px;
}

.slide-16-9-43-all-breakpoints .todays-schedule-1 {
  left: 92px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1100px;
  width: 250px;
}

.slide-16-9-43-all-breakpoints .feb-3rd-1 {
  left: 428px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1103px;
}

.slide-16-9-43-all-breakpoints .line-2-1 {
  height: 1px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 1225px;
  width: 381px;
}

.slide-16-9-43-all-breakpoints .line-4-3 {
  left: 139px;
  position: absolute;
  top: 1451px;
  width: 381px;
}

.slide-16-9-43-all-breakpoints .line-3-1 {
  height: 1px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 1337px;
  width: 381px;
}

.slide-16-9-43-all-breakpoints .line-5-1 {
  height: 1px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 1564px;
  width: 381px;
}

.slide-16-9-43-all-breakpoints .line-6-3 {
  left: 139px;
  position: absolute;
  top: 1676px;
  width: 381px;
}

.slide-16-9-43-all-breakpoints .line-7-1 {
  height: 1px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 1789px;
  width: 381px;
}

.slide-16-9-43-all-breakpoints .x0900-am-1 {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1215px;
  width: 65px;
}

.slide-16-9-43-all-breakpoints .x1000-am-1 {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1328px;
  width: 65px;
}

.slide-16-9-43-all-breakpoints .x1100-am-1 {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1441px;
  width: 65px;
}

.slide-16-9-43-all-breakpoints .x100-pm-1 {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1666px;
  width: 56px;
}

.slide-16-9-43-all-breakpoints .x1200-pm-1 {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1553px;
  width: 73px;
}

.slide-16-9-43-all-breakpoints .x200-pm-1 {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1779px;
  width: 73px;
}

.slide-16-9-43-all-breakpoints .overlap-group3-1 {
  border-radius: 49px;
  height: 394px;
  left: 586px;
  position: absolute;
  top: 1058px;
  width: 456px;
}

.slide-16-9-43-all-breakpoints .rectangle-4143-1 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 394px;
  left: 0;
  position: absolute;
  top: 0;
  width: 456px;
}

.slide-16-9-43-all-breakpoints .how-can-i-help-1 {
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 240px;
}

.slide-16-9-43-all-breakpoints .overlap-group-1 {
  border-radius: 13px;
  height: 75px;
  left: 56px;
  position: absolute;
  top: 90px;
  width: 336px;
}

.slide-16-9-43-all-breakpoints .rectangle-4142-1 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 4.69%, rgba(255, 255, 255, 0.75) 29.77%, rgba(255, 255, 255, 0.75) 94.79%);
  border-radius: 13px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.slide-16-9-43-all-breakpoints .im-here-for-a-shoot-1 {
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 202px;
}

.slide-16-9-43-all-breakpoints .overlap-group1-1 {
  height: 81px;
  left: 56px;
  position: absolute;
  top: 176px;
  width: 365px;
}

.slide-16-9-43-all-breakpoints .rectangle-4144-1 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 29.77%, rgba(168, 178, 185, 0.75) 94.79%);
  border-radius: 13px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.slide-16-9-43-all-breakpoints .im-here-for-a-meeting-1 {
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 21px;
  width: 306px;
}

.slide-16-9-43-all-breakpoints .overlap-group2-1 {
  height: 84px;
  left: 55px;
  position: absolute;
  top: 265px;
  width: 349px;
}

.slide-16-9-43-all-breakpoints .need-a-quick-facility-tour-1 {
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 306px;
}

.slide-16-9-43-all-breakpoints .cloudy {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-left: 6px;
  min-height: 15px;
  min-width: 42px;
}

.slide-16-9-43-all-breakpoints .cloudy-clouds-and-sun-svgrepo-com {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-43-all-breakpoints .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.slide-16-9-43-all-breakpoints .icon-cloud {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-43-all-breakpoints .line-4 {
  height: 1px;
  object-fit: cover;
}

.slide-16-9-43-all-breakpoints .line-6 {
  height: 1px;
  object-fit: cover;
}

.slide-16-9-43-all-breakpoints .rain-raining-svgrepo-com {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-43-all-breakpoints .rainy {
  letter-spacing: -0.13px;
  line-height: normal;
}

.slide-16-9-43-all-breakpoints .text {
  letter-spacing: -0.13px;
  line-height: normal;
  min-height: 15px;
  min-width: 21px;
}
/* screen - slide-16-9-44 */

.slide-16-9-44 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1443px;
  overflow: hidden;
  width: 1080px;
}

.slide-16-9-44 .overlap-group4 {
  height: 1928px;
  margin-left: -9px;
  margin-top: -223.0px;
  position: relative;
  width: 1097px;
}

.slide-16-9-44 .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 215px;
  width: 1097px;
}

.slide-16-9-44 .cori_alpha-1 {
  height: 1154px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 223px;
  width: 819px;
}

.slide-16-9-44 .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 1080px;
}

.slide-16-9-44 .rectangle-4152 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 346px;
  left: 586px;
  position: absolute;
  top: 1182px;
  width: 456px;
}

.slide-16-9-44 .x1032-am {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 245px;
  width: 109px;
}

.slide-16-9-44 .weather-information {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 605px;
  min-height: 225px;
  padding: 0.0px 0;
  position: absolute;
  top: 1227px;
  width: 175px;
}

.slide-16-9-44 .rainy-1 {
  left: 64px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 126px;
  width: 35px;
}

.slide-16-9-44 .sat-19-mar-2022 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-right: 20.2px;
  margin-top: 8px;
  min-height: 13px;
  width: 81px;
}

.slide-16-9-44 .x52-f {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-right: 30.0px;
  margin-top: 13px;
  min-height: 48px;
  width: 89px;
}

.slide-16-9-44 .this-week-weather {
  align-items: flex-start;
  display: flex;
  height: 231px;
  left: 774px;
  min-width: 291px;
  position: absolute;
  top: 1231px;
}

.slide-16-9-44 .flex-col {
  -webkit-backdrop-filter: blur(3.16px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(3.16px) brightness(100%);
  background: linear-gradient(180deg, rgb(35, 48, 57) 0%, rgb(42.89, 50.6, 59.5) 100%);
  border-radius: 12.23px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 231px;
  padding: 16.4px 12.5px;
  width: 249px;
}

.slide-16-9-44 .flex-col-1 {
  align-self: flex-end;
  min-height: 177px;
}

.slide-16-9-44 .flex-col-2 {
  gap: 8px;
  min-height: 146px;
}

.slide-16-9-44 .flex-col-3 {
  min-height: 116px;
}

.slide-16-9-44 .flex-col-4 {
  gap: 8px;
  min-height: 85px;
}

.slide-16-9-44 .flex-col-5 {
  gap: 8px;
  min-height: 54px;
}

.slide-16-9-44 .flex-col-6 {
  gap: 8px;
  min-height: 23px;
}

.slide-16-9-44 .flex-row {
  align-items: center;
  display: flex;
  min-width: 216px;
}

.slide-16-9-44 .sun-20-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.67px;
  min-height: 12px;
  width: 70px;
}

.slide-16-9-44 .text-8 {
  margin-bottom: 0.67px;
  margin-left: 32px;
}

.slide-16-9-44 .rain-raining-svgrepo-com {
  height: 14px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-44 .rainy {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.67px;
  margin-left: 6px;
  min-height: 12px;
  width: 34px;
}

.slide-16-9-44 .line {
  height: 1px;
  object-fit: cover;
  width: 224px;
}

.slide-16-9-44 .x-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.67px;
  min-height: 12px;
  width: 69px;
}

.slide-16-9-44 .text {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.67px;
  margin-left: 33px;
  min-height: 12px;
  width: 21px;
}

.slide-16-9-44 .rain-raining-svgrepo-com-1 {
  height: 14px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-44 .flex-row-1 {
  align-items: center;
  display: flex;
  min-width: 220px;
}

.slide-16-9-44 .tue-22-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.67px;
  min-height: 12px;
  width: 68px;
}

.slide-16-9-44 .text-10 {
  margin-bottom: 0.67px;
  margin-left: 34px;
}

.slide-16-9-44 .storm-thunder-svgrepo-com {
  height: 14px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-44 .storm {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.67px;
  margin-left: 6px;
  min-height: 12px;
  width: 38px;
}

.slide-16-9-44 .flex-row-2 {
  align-items: center;
  display: flex;
  margin-top: 7px;
  min-width: 224px;
}

.slide-16-9-44 .wed-23-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-top: 0.64px;
  min-height: 12px;
  width: 71px;
}

.slide-16-9-44 .text-11 {
  margin-left: 31px;
  margin-top: 0.64px;
}

.slide-16-9-44 .icon-cloud {
  height: 14px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-44 .cloudy {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-left: 6px;
  margin-top: 0.64px;
  min-height: 12px;
  width: 42px;
}

.slide-16-9-44 .line-4 {
  margin-top: 8px;
  width: 224px;
}

.slide-16-9-44 .flex-row-3 {
  align-items: center;
  display: flex;
  min-width: 224px;
}

.slide-16-9-44 .icon-cloud-1 {
  height: 14px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-44 .cloudy-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.67px;
  margin-left: 6px;
  min-height: 12px;
  width: 42px;
}

.slide-16-9-44 .flex-row-4 {
  align-items: flex-end;
  display: flex;
  margin-top: 6px;
  min-width: 221px;
}

.slide-16-9-44 .fri-25-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  min-height: 12px;
  width: 62px;
}

.slide-16-9-44 .text-13 {
  margin-bottom: 0.02px;
  margin-left: 40px;
}

.slide-16-9-44 .cloudy-clouds-and-sun-svgrepo-com {
  height: 14px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-44 .sunny {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  margin-left: 6px;
  min-height: 12px;
  width: 39px;
}

.slide-16-9-44 .line-6 {
  margin-top: 9px;
  width: 224px;
}

.slide-16-9-44 .flex-row-5 {
  align-items: flex-end;
  display: flex;
  margin-left: 0.11px;
  min-width: 221px;
}

.slide-16-9-44 .sat-26-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  min-height: 12px;
  width: 67px;
}

.slide-16-9-44 .text-14 {
  margin-bottom: 0.02px;
  margin-left: 35px;
}

.slide-16-9-44 .cloudy-clouds-and-sun-svgrepo-com-1 {
  height: 14px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-44 .rectangle-4139 {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background: linear-gradient(180deg, rgba(72.4, 73.14, 78.63, 0.25) 40.53%, rgba(64.67, 73.72, 88.19, 0.25) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1;
  border-radius: 49px;
  height: 732px;
  left: 48px;
  position: absolute;
  top: 796px;
  width: 507px;
}

.slide-16-9-44 .todays-schedule {
  left: 92px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 833px;
  width: 250px;
}

.slide-16-9-44 .feb-3rd {
  left: 428px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 835px;
  width: 88px;
}

.slide-16-9-44 .line-2 {
  left: 139px;
  position: absolute;
  top: 943px;
  width: 381px;
}

.slide-16-9-44 .line-4-1 {
  height: 1px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 1140px;
  width: 381px;
}

.slide-16-9-44 .line-3 {
  left: 139px;
  position: absolute;
  top: 1035px;
  width: 381px;
}

.slide-16-9-44 .line-5 {
  left: 139px;
  position: absolute;
  top: 1238px;
  width: 381px;
}

.slide-16-9-44 .line-6-1 {
  height: 1px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 1337px;
  width: 381px;
}

.slide-16-9-44 .line-7 {
  left: 139px;
  position: absolute;
  top: 1435px;
  width: 381px;
}

.slide-16-9-44 .x0900-am {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 934px;
  width: 65px;
}

.slide-16-9-44 .x1000-am {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1032px;
  width: 65px;
}

.slide-16-9-44 .x1100-am {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1131px;
  width: 65px;
}

.slide-16-9-44 .x100-pm {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1328px;
  width: 56px;
}

.slide-16-9-44 .x1200-pm {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1229px;
  width: 73px;
}

.slide-16-9-44 .x200-pm {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1426px;
  width: 73px;
}

.slide-16-9-44 .overlap-group3 {
  border-radius: 49px;
  height: 362px;
  left: 586px;
  position: absolute;
  top: 796px;
  width: 456px;
}

.slide-16-9-44 .rectangle-4143 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 362px;
  left: 0;
  position: absolute;
  top: 0;
  width: 456px;
}

.slide-16-9-44 .how-can-i-help {
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 240px;
}

.slide-16-9-44 .overlap-group {
  border-radius: 13px;
  height: 69px;
  left: 56px;
  position: absolute;
  top: 83px;
  width: 336px;
}

.slide-16-9-44 .rectangle-4142 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 4.69%, rgba(255, 255, 255, 0.75) 29.77%, rgba(255, 255, 255, 0.75) 94.79%);
  border-radius: 13px;
  height: 69px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.slide-16-9-44 .im-here-for-a-shoot {
  left: 71px;
  top: 21px;
  width: 202px;
}

.slide-16-9-44 .overlap-group1 {
  height: 74px;
  left: 56px;
  position: absolute;
  top: 162px;
  width: 365px;
}

.slide-16-9-44 .rectangle-4144 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 29.77%, rgba(168, 178, 185, 0.75) 94.79%);
  border-radius: 13px;
  height: 69px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.slide-16-9-44 .im-here-for-a-meeting {
  left: 59px;
  top: 19px;
  width: 306px;
}

.slide-16-9-44 .overlap-group2 {
  height: 77px;
  left: 55px;
  position: absolute;
  top: 243px;
  width: 349px;
}

.slide-16-9-44 .need-a-quick-facility-tour {
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  width: 306px;
}

.slide-16-9-44 .flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 224px;
}

.slide-16-9-44 .line-1 {
  height: 1px;
  object-fit: cover;
}

.slide-16-9-44 .rain {
  height: 142px;
  width: 169px;
}

.slide-16-9-44 .text-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  min-height: 12px;
  width: 21px;
}
@media screen and (max-width: 1079px) {
  .screen.slide-16-9-44 { 
    display: none;
   }
  .screen.slide-16-9-43-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1080px) {
}