/* screen - take-photo-photo-approval */

.take-photo-photo-approval {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1920px;
  overflow: hidden;
  width: 1080px;
}

.take-photo-photo-approval .overlap-group1 {
  height: 2190px;
  margin-left: -9px;
  margin-top: -8.0px;
  position: relative;
  width: 1097px;
}

.take-photo-photo-approval .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.take-photo-photo-approval .cori_alpha-1 {
  height: 1162px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 819px;
}

.take-photo-photo-approval .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 262px;
  width: 1080px;
}

.take-photo-photo-approval .title {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.take-photo-photo-approval .overlap-group {
  border-radius: 49px;
  height: 668px;
  left: 227px;
  position: absolute;
  top: 1030px;
  width: 644px;
}

.take-photo-photo-approval .rectangle-4143 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 668px;
  left: 0;
  position: absolute;
  top: 0;
  width: 644px;
}

.take-photo-photo-approval .rectangle-4158 {
  background-color: var(--alto);
  border-radius: 21px;
  height: 62px;
  left: 338px;
  position: absolute;
  top: 427px;
  width: 155px;
}

.take-photo-photo-approval .rectangle-4159 {
  background-color: var(--stack);
  border-radius: 21px;
  height: 62px;
  left: 153px;
  position: absolute;
  top: 427px;
  width: 155px;
}

.take-photo-photo-approval .left {
  border: 2px solid;
  border-color: var(--gray);
  border-radius: 15px;
  display: flex;
  height: 50px;
  width: 50px;
}

.take-photo-photo-approval .right {
  border: 2px solid;
  border-color: #404040;
  border-radius: 15px;
  display: flex;
  height: 50px;
  width: 50px;
}

.take-photo-photo-approval .rectangle {
  background-color: var(--heavy-metal);
  border-radius: 4px;
  height: 6px;
  width: 31.75px;
}

.take-photo-photo-approval .rectangle-1 {
  background-color: var(--granite-gray);
  border-radius: 4px;
  height: 6px;
  width: 31.75px;
}

.take-photo-photo-approval .text {
  left: 582px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 1481px;
  white-space: nowrap;
}

.take-photo-photo-approval .text-1 {
  left: 423px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 1479px;
  white-space: nowrap;
}

.take-photo-photo-approval .ellipse-121 {
  height: 231px;
  left: 419px;
  object-fit: cover;
  position: absolute;
  top: 1174px;
  width: 231px;
}
