/* screen - unkown-user-screen */

.unkown-user-screen {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1920px;
  overflow: hidden;
  width: 1080px;
}

.unkown-user-screen .overlap-group4 {
  height: 2190px;
  margin-left: -9px;
  margin-top: -8.0px;
  position: relative;
  width: 1097px;
}

.unkown-user-screen .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.unkown-user-screen .cori_alpha-1 {
  height: 1162px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 819px;
}

.unkown-user-screen .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 262px;
  width: 1080px;
}

.unkown-user-screen .title {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.unkown-user-screen .overlap-group3 {
  border-radius: 49px;
  height: 702px;
  left: 186px;
  position: absolute;
  top: 1060px;
  width: 726px;
}

.unkown-user-screen .rectangle-4143 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 702px;
  left: 0;
  position: absolute;
  top: 0;
  width: 726px;
}

.unkown-user-screen .how-can-i-help {
  left: 279px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 126px;
  width: 240px;
}

.unkown-user-screen .overlap-group {
  border-radius: 13px;
  height: 88px;
  left: 214px;
  position: absolute;
  top: 201px;
  width: 336px;
}

.unkown-user-screen .rectangle-4142 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 4.69%, rgba(255, 255, 255, 0.75) 29.77%, rgba(255, 255, 255, 0.75) 94.79%);
  border-radius: 13px;
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.unkown-user-screen .im-here-for-a-shoot {
  left: 71px;
  top: 27px;
  width: 202px;
}

.unkown-user-screen .overlap-group1 {
  height: 95px;
  left: 214px;
  position: absolute;
  top: 302px;
  width: 365px;
}

.unkown-user-screen .rectangle-4144 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 29.77%, rgba(168, 178, 185, 0.75) 94.79%);
  border-radius: 13px;
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.unkown-user-screen .im-here-for-a-meeting {
  left: 59px;
  top: 25px;
  width: 306px;
}

.unkown-user-screen .overlap-group2 {
  height: 96px;
  left: 213px;
  position: absolute;
  top: 406px;
  width: 336px;
}
