<template>
    <div class="time">{{time}}</div>
</template>

<script>
export default {
  data() {
    return {
      interval: null,
      time: null
    }
  },
  beforeDestroy() {
    // prevent memory leak
    clearInterval(this.interval)
  },
  created() {
    // update the time every second
    this.interval = setInterval(() => {
      // Concise way to format time according to system locale.
      this.time = Intl.DateTimeFormat(navigator.language, {
        hour: 'numeric',
        minute: 'numeric',
        seconds: 'numeric',
        //hour12: true,
        //timeZone: "America/Los_Angeles",
      }).format()
      
    }, 1000)
  }
}
</script>

<style>
.time
  {
      margin: 0;
      padding: 0;
      border: 0;
      color: #FFF;
      font-family: "Fabrikat-Medium", Helvetica;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      position: absolute;
      left: 46px;
      top: 30px;
  }
</style>