<template>
    <div class="menu-small">
    <div class="menuBG-small"></div>
        <div class="text-title text-title-small">How can I help?</div>
        <div class="button-group button-group-small">
            <div class="button"><router-link to="/register">
                <div class="text-button" >I'm here for a shoot</div>
            </router-link></div>
            
        </div>
        <div class="button-group button-group-small num2 num2-small">
            <div class="button">
                <div class="text-button" v-on:click="createPUT()">I'm here for a meeting</div>
            </div>
        </div>
        <div class="button-group button-group-small num2 num3-small">
            <div class="button">
                <div class="text-button" v-on:click="createPUT()">Talk with a team member</div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: 'CreatePUT',
            data(){
                return{
                    formData: {
                        objectPath: '/Game/Maps/MHC_LightingPresets_RT/MHC_LightingPreset_Portrait_RT.MHC_LightingPreset_Portrait_RT:PersistentLevel.BP_CC4_Pawn_C_0',
                        functionName: 'Button1',
                        parameters: {
                            index_Anim:1
                        },
                        generateTransaction:true
                    },
                    headers: { 'Content-Type':'application/json'},
                }
            },
            methods: {
                createPUT() {
                    try{
                        axios.put('http://localhost:30010/remote/object/call', this.formData, { headers: {'Content-Type':'application/json'}} )
                            .then(response => console.log(response))
                            .catch(error => console.log(error));
                    } catch(error){console.log(error)}
                    
                    ////////
                        const maxID = 12;
                        this.formData.parameters.index_Anim = Math.floor(Math.random(this.time) * (maxID - 0 + 1)) + 0;
                }
            }
        }
</script>


<style>
    
    .menu-small{
        background: 
            linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.8) 3.12%, rgba(52, 59, 68, 0.6) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%) padding-box,
            linear-gradient(180deg, rgb(255, 255, 255, 0.4), rgba(0, 0, 0, .2)) border-box;
        border: 1px solid transparent;
        border-radius: 49px;
        height: 394px;
        left:290px;
        position: relative;
        top: 960px;
        width: 456px;
    }


    .text-title-small{
        left:130px;
        top: 26px;
    }
        
</style>