<template>
    <div>
        <perfect-scrollbar>
            <p class="NDA_title">NONDISCLOSURE AGREEMENT</p>
                <p>
                This agreement is entered into on <u>{{$parent.currentDate}}</u> by and between <u>{{' '+$parent.registerData.first_name+' '+$parent.registerData.last_name+' '}}</u> (hereinafter "Recipient"), and Scissor Films, with offices at 166 S Victory Blvd., Burbank, CA 91502(hereinafter "Discloser").
                WHEREAS Discloser possesses certain ideas and information relating to Conscious Minds that are confidential and proprietary to the Discloser (hereinafter "Confidential Information"); and WHEREAS the Recipient is willing to receive disclosure of the Confidential Information pursuant to the terms of this agreement; NOW THEREFORE, in consideration for the mutual undertakings of the Discloser and the Recipient under this agreement, the parties agree to the below terms as follows:
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                1. Disclosure. The Discloser agrees to disclose, and the Recipient agrees to receive the Confidential Information.
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                2. Confidentiality.
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                2.1 No Use. The Recipient agrees not to use the Confidential Information in any way or manufacture or test any product embodying Confidential Information, except for the purpose authorized by the Discloser.
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                2.2 No Disclosure. The Recipient agrees to use its best efforts to prevent and protect the Confidential Information, or any part thereof, from disclosure to any person other than the Recipient's employees that have a need for disclosure in connection with the Recipient's authorized use of the Confidential Information.
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                2.3 Protection of Secrecy. The Recipient agrees to take all steps reasonably necessary to protect the secrecy of the Confidential Information and to prevent the Confidential Information from falling into the public domain or into the possession of unauthorized persons.
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                3. Limits on Confidential Information. Confidential Information shall not be deemed proprietary, and the Recipient shall have no obligation with respect to such information where the information:
                    <li class="NDA_li">(a) Was known to the Recipient prior to receiving any of the Confidential Information from the Discloser;
                    </li><li class="NDA_li">(b) Has become publicly known through no wrongful act of the Recipient;
                    <p></p>
                    </li><li class="NDA_li">(c) Was received by the Recipient without breach of this agreement from a third party without restriction as to the use and disclosure of the information;
                    </li><li class="NDA_li">(d) Was independently developed by the Recipient without use of the Confidential Information; or
                    <p></p>
                    </li><li class="NDA_li">(e) Was ordered to be publicly released by the requirement of a government agency.
                    </li>
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                4. Ownership of Confidential Information. The Recipient agrees that all Confidential Information shall remain the property of Discloser and that the Discloser may use such Confidential Information for any purpose without obligation to Recipient. Nothing contained herein shall be construed as granting or implying to the Recipient any transfer of rights, any patents, or any other intellectual property pertaining to the Confidential Information.
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                5. Term and Termination. The obligations of this agreement shall be continuing until the Confidential Information disclosed to the Recipient is no longer confidential.
                </p><p>
                <img class="nda_info" src="../img/icon_info.png">
                6. Survival of Rights and Obligations. This agreement shall be binding upon, inure to the benefit of, and be enforceable by (a) the Discloser, its successors and assignees; and (b) the Recipient, its successors and assignees.
                IN WITNESS WHEREOF, the parties have executed this agreement effective as of the date first written above.
                </p>
        </perfect-scrollbar>
    </div>
</template>
<script>
import { PerfectScrollbar } from 'vue3-perfect-scrollbar'
export default {
    components: { PerfectScrollbar },
}
</script>
<style src="vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css"/>
<style>
    .ps {
        height: 525px;
        width: 780px;
        left: -90px;
        top: 42px;
    }

    .ps__thumb-y {
        width: 9px;
        background-color: #ffffff;
        opacity: 0.9;
        transition: all 0.1s;
    }

    .ps__rail-y {
        opacity: .17;
        width: 15px;
    }

    .ps:hover > .ps__rail-x,
    .ps:hover > .ps__rail-y,
    .ps--focus > .ps__rail-x,
    .ps--focus > .ps__rail-y,
    .ps--scrolling-x > .ps__rail-x,
    .ps--scrolling-y > .ps__rail-y {
        opacity: 0.9;
    }

    .ps .ps__rail-x:hover,
    .ps .ps__rail-y:hover,
    .ps .ps__rail-x:focus,
    .ps .ps__rail-y:focus,
    .ps .ps__rail-x.ps--clicking,
    .ps .ps__rail-y.ps--clicking {
        background-color: transparent;
        opacity: 1;
    }


    .cNDA{
        transform: translate(44px,298px);
    }

    p{
        color: #FFF;
        top: 0px;
        position: relative;
        font-size: 14px;
        margin-top: 16px;
        margin-left: 95px;
        margin-right: 40px;
        font-family: "futura";
    }

    .NDA_title{
        text-align: center;
        font-size: 23px;
        line-height: 35px;
        top: -7px
    }

    .NDA_li{
        color: #FFF;
        top: 0px;
        margin: 0;
        position: relative;
        margin-left: 0px;
        font-family: "futura";
    }

    
    .nda_info{
        position: absolute;
        width: 18px;
        filter: invert(100%);
        left: -33px;
        top: 2px;
    }
</style>