<script>
    export default {
    data() {
        return {
        interval: null,
        date: 'Feb 31'
        }
    },
    beforeDestroy() {
        // prevent memory leak
        clearInterval(this.interval)
    },
    created() {
        this.interval = setInterval(() => {
            this.date = Intl.DateTimeFormat("en-US", {
                month: "short",
                day: "numeric",
                timeZone: "America/Los_Angeles",
            }).format()
        }, 300)
    }
    }
</script>

<template>
    <div class="schedule">
        <div class="schedule-BG"></div>
        <div class="schedule-title">Today's Schedule</div>
        <div class="schedule-day">{{date}}</div>
        <ul>
            <li>
                <img class="schedule-line" src="../img/line-2.svg" alt="Line 2" />
                <div class="schedule-time">09:00 am</div>
            </li>
            <li>
                <img class="schedule-line" src="../img/line-3.svg" alt="Line 3" />
                <div class="schedule-time">10:00 am</div>
            </li>
            <li>
                <img class="schedule-line" src="../img/line-2.svg" alt="Line 4" />
                <div class="schedule-time">11:00 am</div>
            </li>
            <li>
                <img class="schedule-line" src="../img/line-3.svg" alt="Line 5" />
                <div class="schedule-time">12:00 am</div>
            </li>
            <li>
                <img class="schedule-line" src="../img/line-2.svg" alt="Line 6" />
                <div class="schedule-time">1:00 pm</div>
            </li>
            <li>
                <img class="schedule-line" src="../img/line-3.svg" alt="Line 7" />
                <div class="schedule-time">2:00 pm</div>
            </li>
        </ul>
    </div>
</template>

<style>
    .schedule{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 95px;
        left: 74px;
        min-height: 582px;
        position: absolute;
        top: 914px;
        width: 458px;
    }
    .schedule-BG{
        background: 
            linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.8) 3.12%, rgba(52, 59, 68, 0.6) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%) padding-box,
            linear-gradient(180deg, rgb(255, 255, 255, 0.4), rgba(0, 0, 0, .2)) border-box;
        border: 1px solid transparent;
        border-radius: 49px;
        height: 837px;
        left: -25px;
        position: absolute;
        top: -150px;
        width: 507px;
    }
    .schedule-time{
        left: 5px;
        letter-spacing: -0.13px;
        line-height: normal;
        position: absolute;
        color: #FFF;
        font-family: "Rubik", Helvetica;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        transform: translateY(-15px);
    }
    .schedule-title{
        color: #737373;
        font-weight: 500;
        left: 30px;
        font-family: "Fabrikat-Medium", Helvetica;
        font-size: 30px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: -100px;
        width: 250px;
    }
    .schedule-day{
        left: 350px;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: -100px;
        border: 0;
        color: #FFF;
        font-family: "Fabrikat-Medium", Helvetica;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;

    }

    .schedule-line{
        transform: scaleX(98%) translateX(20px);
    }

    li { 
        margin-bottom: 95px;
        list-style: none;
    }
</style>