<script>
import VueDrawingCanvas from "vue-drawing-canvas";

export default {
  name: "ServeDev",
  components: {
    VueDrawingCanvas,
  },
  data() {
    return {
      initialImage: [
        {
          type: "dash",
          from: {
            x: 262,
            y: 154,
          },
          coordinates: [],
          color: "#000000",
          width: 5,
          fill: false,
        },
      ],
      x: 0,
      y: 0,
      image: "",
      eraser: false,
      disabled: false,
      fillShape: false,
      line: 5,
      color: "#000000",
      strokeType: "dash",
      lineCap: "square",
      lineJoin: "round",
      backgroundColor: "#FFFFFF00",
      backgroundImage: null,
      watermark: null,
      additionalImages: [],
    };
  },
  mounted() {
    if ("vue-drawing-canvas" in window.localStorage) {
      this.initialImage = JSON.parse(
        window.localStorage.getItem("vue-drawing-canvas")
      );
    }
  },
  methods: {
    async setImage(event) {
      let URL = window.URL;
      this.backgroundImage = URL.createObjectURL(event.target.files[0]);
      await this.$refs.VueCanvasDrawing.redraw();
    },
    getCoordinate(event) {
      let coordinates = this.$refs.VueCanvasDrawing.getCoordinates(event);
      this.x = coordinates.x;
      this.y = coordinates.y;
    },
    getStrokes() {
      //this.$parent.bSignUI=false;
      window.localStorage.setItem("formData.nda", 'true');
      this.$parent.sign();
                    //window.localStorage.setItem("vue-drawing-canvas",JSON.stringify(this.$refs.VueCanvasDrawing.getAllStrokes()));
                    //alert("Strokes saved, reload your browser to see the canvas with previously saved image");
    },
    removeSavedStrokes() {
      window.localStorage.removeItem("vue-drawing-canvas");
      alert("Strokes cleared from local storage");
    },
  },
};
</script>

<template>
  <div id="app">
    <div class="flex-row">
      <div class="source">
        <div width="630" height="300" style="background-color: #fff; border-radius: 10px;">
        <vue-drawing-canvas
          ref="VueCanvasDrawing"
          v-model:image="$parent.image"
          :width="630"
          :height="300"
          :stroke-type="strokeType"
          :line-cap="lineCap"
          :line-join="lineJoin"
          :fill-shape="fillShape"
          :eraser="eraser"
          :lineWidth="line"
          :color="color"
          :background-color="backgroundColor"
          :background-image="backgroundImage"
          :watermark="watermark"
          :initial-image="initialImage"
          saveAs="png"
          :styles="{
            'border': 'solid 0px #000',
            'border-radius': '10px',
          }"
          :lock="disabled"
          @mousemove="getCoordinate($event)"
          :additional-images="additionalImages"
        /></div>
        <div class="button-container">
          <button class="button button-sign reset" @click.prevent="$refs.VueCanvasDrawing.reset()">Reset</button>
          <button class="button button-sign sign" @click.prevent="getStrokes()"><b>Sign</b></button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>


    .flex-row {
      display: flex;
      flex-direction: row;
    }
    .button-container {
      display: flex;
      flex-direction: row;
    }
    .button-container > * {
      margin-top: 15px;
      margin-right: 10px;
    }

    .source{
      background: linear-gradient(180deg, rgba(238, 238, 238, 1) 15%, rgb(34, 35, 36) 100%);
      border-radius: 20px;
      padding-bottom: 17px;
    }

    .button.reset{
      position: relative;
      top: -2px;
      left: 28px;
      height: 40px;
      font-size: 16px;
      font-family: "Fabrikat-Medium", Helvetica;
      background: #00000066;
      color: #ccc;
      border: 1px solid #ffffff77;

    }
    .button.sign{
      position: relative;
      height: 40px;
      width: 120px;
      font-size: 22px;
      top: -2px;
      left: 390px;
      line-height: 0px;
      text-align: center;
      font-family: "Fabrikat-Medium", Helvetica;
    }
</style>