@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,700,300,500,100|Overpass:400");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/63d8552a99d747415d5cfcb0.63d8552b27e7069f0a8eed34.fndOiif.hcp.png");

@font-face {
  font-family: "Futura-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/futura.otf") format("opentype");
}
@font-face {
  font-family: "Fabrikat-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Fabrikat-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Akira Expanded-SuperBold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Akira Expanded Demo.otf") format("opentype");
}
@font-face {
  font-family: "SF Pro Display-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FontsFree-Net-SFProDisplay-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text-Semibold";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Space Age.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
