/* screen - slide-16-9-26 */

.slide-16-9-26 {
  align-items: flex-start;
  background: radial-gradient(50% 50% at 50% 50%, rgb(8.64, 29.44, 34) 22.86%, rgb(4.06, 4.21, 4.25) 60.38%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  gap: 61px;
  height: 1080px;
  padding: 21.0px 23.0px;
  width: 1920px;
}

.slide-16-9-26 .flex-col {
  flex-direction: column;
  gap: 51px;
  margin-top: 62.5px;
  min-height: 975px;
  width: 725px;
}

.slide-16-9-26 .overlap-group9 {
  align-self: flex-end;
  height: 444px;
  position: relative;
  width: 701px;
}

.slide-16-9-26 .rectangle-3956 {
  height: 444px;
  left: 0;
  position: absolute;
  top: 0;
  width: 671px;
}

.slide-16-9-26 .rectangle-3959 {
  height: 378px;
  left: 503px;
  position: absolute;
  top: 31px;
  width: 144px;
}

.slide-16-9-26 .rectangle-3965 {
  height: 378px;
  left: 344px;
  position: absolute;
  top: 33px;
  width: 144px;
}

.slide-16-9-26 .rectangle-3966 {
  height: 378px;
  left: 187px;
  position: absolute;
  top: 32px;
  width: 144px;
}

.slide-16-9-26 .rectangle-3967 {
  height: 378px;
  left: 23px;
  position: absolute;
  top: 34px;
  width: 144px;
}

.slide-16-9-26 .text {
  color: var(--white);
  font-family: var(--font-family-akira_expanded-superbold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 16px;
  left: 647px;
  letter-spacing: 0.25px;
  line-height: 15.6px;
  position: absolute;
  text-align: center;
  top: 171px;
  transform: rotate(89.81deg);
  white-space: nowrap;
}

.slide-16-9-26 .snapchat-vp-shoot {
  left: 483px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 175px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .location-main-stage-1 {
  left: 490px;
  top: 125px;
}

.slide-16-9-26 .x1-pm-7-pm {
  left: 549px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 91px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .director-colby {
  left: 487px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 108px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .producer-ruth-vinson {
  left: 440px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 136px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .why-rush-editorial {
  left: 321px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 177px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .location-main-stage {
  left: 330px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 127px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .director-cole-bennet {
  left: 301px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 134px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .producer-sam-malko {
  left: 284px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 129px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .the-line-editorial {
  left: 170px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 162px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .location-main-stage-2 {
  left: 170px;
  top: 129px;
}

.slide-16-9-26 .x5-pm-9-pm {
  left: 229px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 92px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .director-cole-bennet-1 {
  left: 142px;
  top: 135px;
}

.slide-16-9-26 .producer-sam-malko-1 {
  left: 125px;
  top: 131px;
}

.slide-16-9-26 .x8am-8-pm {
  left: 387px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 92px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .yeat-fashion-shoot {
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 176px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .location-main-stage-3 {
  left: 8px;
  top: 133px;
}

.slide-16-9-26 .x1-pm-7-pm-1 {
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 97px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .director-cole-bennet-2 {
  left: -20px;
  top: 139px;
}

.slide-16-9-26 .producer-sam-malko-2 {
  left: -37px;
  top: 135px;
}

.slide-16-9-26 .schedule {
  color: var(--white);
  font-family: var(--font-family-akira_expanded-superbold);
  font-size: 19.6px;
  font-weight: 700;
  left: 615px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 183px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .flex-row {
  gap: 19px;
  height: 481px;
  min-width: 696px;
}

.slide-16-9-26 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 77px;
  min-height: 481px;
  width: 371px;
}

.slide-16-9-26 .overlap-group12 {
  align-self: flex-end;
  height: 371px;
  position: relative;
  width: 347px;
}

.slide-16-9-26 .cloud_fill {
  align-items: flex-end;
  display: flex;
  height: 39px;
  left: 275px;
  min-width: 39px;
  padding: 6.4px 3.2px;
  position: absolute;
  top: 40px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .overlap-group1 {
  height: 26px;
  position: relative;
  width: 32px;
}

.slide-16-9-26 .union-1 {
  height: 29px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(-89.81deg);
  width: 21px;
}

.slide-16-9-26 .subtract {
  height: 13px;
  left: 20px;
  position: absolute;
  top: 0;
  transform: rotate(-89.81deg);
  width: 12px;
}

.slide-16-9-26 .rectangle-3958 {
  height: 371px;
  left: 0;
  position: absolute;
  top: 0;
  width: 347px;
}

.slide-16-9-26 .group-295 {
  align-items: flex-start;
  box-shadow: -1.73px 0.87px 0.29px #00000026;
  display: flex;
  gap: 4px;
  height: 76px;
  left: 188px;
  min-width: 99px;
  position: absolute;
  top: 50px;
  transform: rotate(-90.19deg);
}

.slide-16-9-26 .c {
  align-self: flex-end;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 12.3px;
  font-weight: 400;
  letter-spacing: -0.62px;
  line-height: 14.8px;
  margin-bottom: 3.85px;
  min-height: 15px;
  min-width: 17px;
  transform: rotate(180deg);
  white-space: nowrap;
}

.slide-16-9-26 .number {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 63.1px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 75.7px;
  margin-top: 0;
  min-height: 76px;
  transform: rotate(180deg);
  white-space: nowrap;
}

.slide-16-9-26 .cardweather {
  align-items: flex-end;
  display: flex;
  height: 77px;
  justify-content: flex-end;
  left: 42px;
  min-width: 42px;
  position: absolute;
  top: 28px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .overlap-group {
  border-radius: 4.38px;
  height: 77px;
  margin-bottom: 0;
  position: relative;
  width: 42px;
}

.slide-16-9-26 .rectangle-30 {
  background-color: var(--white-2);
  border-radius: 4.38px;
  filter: blur(0.44px);;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.slide-16-9-26 .rectangle-31 {
  border: 0.22px solid;
  border-color: transparent;
  border-image: radial-gradient(rgb(255, 255, 255), rgb(167.88, 167.88, 167.88)) 1;
  border-radius: 4.38px;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.slide-16-9-26 .x24-c {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: -0.44px 0.66px 0.22px #0000001a;
  top: 6px;
  width: 42px;
}

.slide-16-9-26 .fri {
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: -0.44px 0.66px 0.22px #0000001a;
  top: 56px;
  width: 22px;
}

.slide-16-9-26 .group-650 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  left: 5px;
  min-width: 26px;
  position: absolute;
  top: 32px;
}

.slide-16-9-26 .group-647 {
  align-items: flex-start;
  display: flex;
  height: 22px;
  justify-content: flex-end;
  min-width: 26px;
}

.slide-16-9-26 .overlap-group-1 {
  height: 42px;
  margin-top: -9.13px;
  position: relative;
  width: 33px;
}

.slide-16-9-26 .ellipse-8 {
  height: 42px;
  width: 33px;
}

.slide-16-9-26 .union {
  height: 21px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 11px;
}

.slide-16-9-26 .cardweather-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 157px;
  left: 42px;
  min-height: 77px;
  position: absolute;
  top: 154px;
  transform: rotate(89.81deg);
  width: 42px;
}

.slide-16-9-26 .overlap-group3 {
  border-radius: 4.38px;
  height: 77px;
  margin-right: 0;
  position: relative;
  width: 42px;
}

.slide-16-9-26 .place {
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: -0.44px 0.66px 0.22px #0000001a;
  top: 56px;
  width: 22px;
}

.slide-16-9-26 .cardweather-2 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-right: -28.08px;
  min-width: 42px;
}

.slide-16-9-26 .overlap-group1-1 {
  border-radius: 4.38px;
  height: 85px;
  margin-top: 0;
  position: relative;
  width: 42px;
}

.slide-16-9-26 .rectangle-30-1 {
  background-color: var(--white-2);
  border-radius: 4.38px;
  filter: blur(0.44px);;
  height: 85px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.slide-16-9-26 .rectangle-31-1 {
  border: 0.22px solid;
  height: 85px;
}

.slide-16-9-26 .x24-c-1 {
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-shadow: -0.44px 0.66px 0.22px #0000001a;
  top: 7px;
  width: 26px;
}

.slide-16-9-26 .fri-1 {
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: -0.44px 0.66px 0.22px #0000001a;
  top: 64px;
  width: 22px;
}

.slide-16-9-26 .group-650-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 5px;
  min-width: 26px;
  position: absolute;
  top: 35px;
}

.slide-16-9-26 .group-647-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 24px;
  width: 26px;
}

.slide-16-9-26 .union-2 {
  height: 12px;
  margin-left: -16244.22px;
  margin-top: -4493px;
  width: 21px;
}

.slide-16-9-26 .ellipse-8-1 {
  height: 15px;
  margin-left: -16249.06px;
  width: 20px;
}

.slide-16-9-26 .cardweather-3 {
  align-items: flex-start;
  display: flex;
  height: 77px;
  justify-content: flex-end;
  left: 43px;
  min-width: 42px;
  position: absolute;
  top: 217px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .overlap-group4 {
  border-radius: 4.38px;
  height: 77px;
  margin-top: 0;
  position: relative;
  width: 42px;
}

.slide-16-9-26 .rectangle-31-2 {
  border: 0.38px solid;
  height: 77px;
}

.slide-16-9-26 .mon {
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: -0.44px 0.66px 0.22px #0000001a;
  top: 56px;
  width: 22px;
}

.slide-16-9-26 .cardweather-4 {
  align-items: flex-end;
  display: flex;
  height: 77px;
  left: 42px;
  min-width: 42px;
  position: absolute;
  top: 91px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .sat {
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: -0.44px 0.66px 0.22px #0000001a;
  top: 56px;
  width: 22px;
}

.slide-16-9-26 .line-17 {
  height: 9px;
  left: 53px;
  position: absolute;
  top: 304px;
  width: 16px;
}

.slide-16-9-26 .group-672 {
  align-items: flex-end;
  display: flex;
  height: 15px;
  left: 298px;
  min-width: 39px;
  position: absolute;
  top: 294px;
  transform: rotate(-90.19deg);
}

.slide-16-9-26 .overlap-group6 {
  border-radius: 38.46px;
  height: 15px;
  margin-bottom: 0;
  position: relative;
  width: 35px;
}

.slide-16-9-26 .rectangle-38 {
  background-color: #ffffff29;
  border-radius: 38.46px;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 35px;
}

.slide-16-9-26 .rectangle-38-1 {
  background-color: #ffffff2e;
  border-radius: 38.46px;
  height: 15px;
  left: 15px;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 20px;
}

.slide-16-9-26 .f {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  transform: rotate(180deg);
  width: 5px;
}

.slide-16-9-26 .c-1 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  transform: rotate(180deg);
  width: 6px;
}

.slide-16-9-26 .x17th-jun-21 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 13.8px;
  font-weight: 300;
  left: 135px;
  letter-spacing: 0;
  line-height: 16.6px;
  position: absolute;
  text-shadow: -0.58px 0.87px 0.29px #0000001a;
  top: 73px;
  transform: rotate(89.81deg);
  width: 85px;
}

.slide-16-9-26 .overlap-group11 {
  border-radius: 16px;
  height: 32px;
  position: relative;
  width: 32px;
}

.slide-16-9-26 .ellipse-12 {
  background-color: #8a8a8a;
  border-radius: 16px;
  height: 32px;
  transform: rotate(90.00deg);
  width: 32px;
}

.slide-16-9-26 .text-1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 19.6px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  transform: rotate(90.00deg);
}

.slide-16-9-26 .overlap-group10 {
  height: 367px;
  margin-top: 4.93px;
  position: relative;
  width: 306px;
}

.slide-16-9-26 .calendar {
  align-items: center;
  border-radius: 7.79px;
  box-shadow: 0px 6px 35.97px #0000001a;
  display: flex;
  flex-direction: column;
  left: -18px;
  min-height: 252px;
  padding: 4.8px 0;
  position: absolute;
  top: 61px;
  transform: rotate(90.00deg);
  width: 317px;
}

.slide-16-9-26 .month-picker {
  height: 26px;
  justify-content: space-between;
  padding: 4.2px 0px;
  width: 298px;
}

.slide-16-9-26 .month-year {
  gap: 4.8px;
  overflow: hidden;
  width: fit-content;
}

.slide-16-9-26 .month {
  color: #00e0ff;
  font-family: var(--font-family-sf_pro_display-semibold);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0.23px;
  line-height: 14.4px;
  margin-top: -0.60px;
  white-space: nowrap;
  width: fit-content;
}

.slide-16-9-26 .sf-icon-chevronforward {
  height: 4.01px;
  min-width: 6.86px;
  transform: rotate(-90deg);
}

.slide-16-9-26 .arrows {
  height: 30.58px;
  margin-bottom: -6.29px;
  margin-top: -6.30px;
  min-width: 10.39px;
  transform: rotate(-90deg);
}

.slide-16-9-26 .calendar-day-row {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  width: 298px;
}

.slide-16-9-26 .calendar-day-row-item {
  height: 10.79px;
  min-width: 19.19px;
  position: relative;
}

.slide-16-9-26 .day {
  left: 1px;
  letter-spacing: -0.05px;
  line-height: 10.8px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
}

.slide-16-9-26 .day-1 {
  left: 0;
}

.slide-16-9-26 .day-2 {
  left: 2px;
  text-align: center;
}

.slide-16-9-26 .day-3 {
  left: 0;
  text-align: center;
}

.slide-16-9-26 .day-4 {
  left: 1px;
  text-align: center;
}

.slide-16-9-26 .day-5 {
  left: 3px;
  text-align: center;
}

.slide-16-9-26 .day-6 {
  left: 1px;
  text-align: center;
}

.slide-16-9-26 .calendar-dayrow-container {
  height: 146px;
  margin-top: 6px;
  position: relative;
  width: 298px;
}

.slide-16-9-26 .calendar-day-row-1 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 6px 0px;
  position: absolute;
  top: 0;
  width: 298px;
}

.slide-16-9-26 .digit {
  height: 19.19px;
  min-width: 19.19px;
}

.slide-16-9-26 .date {
  height: 15px;
  left: 0;
  letter-spacing: 0.23px;
  line-height: 14.4px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 19px;
}

.slide-16-9-26 .date-1 {
  height: 19px;
  top: -1px;
}

.slide-16-9-26 .calendar-day-row-2 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 6px 0px;
  position: absolute;
  top: 29px;
  width: 298px;
}

.slide-16-9-26 .digit-2 {
  background-color: var(--bondi-blue);
  border-radius: 59.96px;
}

.slide-16-9-26 .date-2 {
  color: var(--white);
  font-family: var(--font-family-sf_pro_display-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  height: 15px;
  top: 2px;
  white-space: nowrap;
}

.slide-16-9-26 .calendar-day-row-3 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 6px 0px;
  position: absolute;
  top: 58px;
  width: 298px;
}

.slide-16-9-26 .calendar-day-row-4 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 6px 0px;
  position: absolute;
  top: 86px;
  width: 298px;
}

.slide-16-9-26 .calendar-day-row-5 {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 6px 0px;
  position: absolute;
  top: 115px;
  width: 298px;
}

.slide-16-9-26 .rectangle-3957 {
  height: 367px;
  left: 0;
  position: absolute;
  top: 0;
  width: 306px;
}

.slide-16-9-26 .flex-col-1 {
  gap: 39px;
  margin-top: 9.0px;
  min-height: 846px;
  width: 1086px;
}

.slide-16-9-26 .flex-row-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 12px;
  min-width: 108px;
}

.slide-16-9-26 .flex-col-2 {
  gap: 10px;
  margin-top: 7px;
  min-height: 101px;
  width: 49px;
}

.slide-16-9-26 .cloud_fill-1 {
  align-items: flex-start;
  display: flex;
  height: 49px;
  min-width: 49px;
  padding: 8.2px 4.1px;
  transform: rotate(90.00deg);
}

.slide-16-9-26 .overlap-group-2 {
  height: 33px;
  position: relative;
  width: 41px;
}

.slide-16-9-26 .union-3 {
  height: 37px;
  left: 5px;
  position: absolute;
  top: 1px;
  transform: rotate(-90deg);
  width: 27px;
}

.slide-16-9-26 .subtract-1 {
  height: 16px;
  left: 25px;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  width: 16px;
}

.slide-16-9-26 .number-1 {
  color: var(--white);
  font-family: var(--font-family-fabrikat-bold);
  font-size: 35.1px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 42px;
  transform: rotate(90.00deg);
}

.slide-16-9-26 .x1045-am {
  align-items: flex-start;
  display: flex;
  height: 166px;
  min-width: 46px;
  padding: 59.0px 0;
}

.slide-16-9-26 .x1045-am-1 {
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: 35.1px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -60px;
  min-height: 47px;
  transform: rotate(90deg);
}

.slide-16-9-26 .overlap-group8 {
  height: 641px;
  position: relative;
  width: 1059px;
}

.slide-16-9-26 .welcome-to-scissor-films {
  color: var(--white);
  font-family: var(--font-family-akira_expanded-superbold);
  font-size: 47.4px;
  font-weight: 700;
  left: 748px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 294px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .rectangle-3963 {
  height: 227px;
  left: 82px;
  position: absolute;
  top: 80px;
  width: 72px;
}

.slide-16-9-26 .how-can-i-help {
  color: var(--white);
  font-family: var(--font-family-akira_expanded-superbold);
  font-size: 30.2px;
  font-weight: 700;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 302px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .here-for-a-shoot {
  left: 20px;
  top: 185px;
}

.slide-16-9-26 .directory {
  left: -16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 182px;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .rectangle-3964 {
  height: 246px;
  left: 83px;
  position: absolute;
  top: 320px;
  width: 72px;
}

.slide-16-9-26 .rectangle-3968 {
  height: 227px;
  left: 0;
  position: absolute;
  top: 78px;
  width: 72px;
}

.slide-16-9-26 .here-for-a-meeting {
  left: 10px;
  top: 435px;
}

.slide-16-9-26 .screen-shot-2023-01-25-at-538-1 {
  height: 641px;
  left: 236px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 706px;
}

.slide-16-9-26 .date-3 {
  left: 0;
  letter-spacing: 0.23px;
  line-height: 14.4px;
  position: absolute;
  text-align: center;
  width: 19px;
}

.slide-16-9-26 .day-7 {
  letter-spacing: -0.05px;
  line-height: 10.8px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.slide-16-9-26 .digit-3 {
  height: 19.19px;
  min-width: 19.19px;
  position: relative;
}

.slide-16-9-26 .director-cole-bennet-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .ellipse {
  left: 0;
  position: absolute;
  top: 0;
}

.slide-16-9-26 .flex {
  align-items: flex-start;
  display: flex;
}

.slide-16-9-26 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.slide-16-9-26 .here-for-a {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .location-main-stage-4 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .month-1 {
  align-items: center;
  display: flex;
}

.slide-16-9-26 .producer-sam-malko-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  transform: rotate(89.81deg);
}

.slide-16-9-26 .rectangle-31-3 {
  border-color: transparent;
  border-image: radial-gradient(rgb(255, 255, 255), rgb(167.88, 167.88, 167.88)) 1;
  border-radius: 4.38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}
