:root { 
  --athens-gray: #ebebf54c;
  --black: #000000;
  --bondi-blue: #0092a6;
  --white: #ffffff;
  --white-2: #ffffff33;
 
  --font-size-l: 12px;
  --font-size-m: 9.8px;
  --font-size-s: 9.2px;
  --font-size-xl: 13px;
  --font-size-xs: 7.8px;
  --font-size-xxl: 13.5px;
  --font-size-xxxl: 16.2px;
 
  --font-family-akira_expanded-superbold: "Akira Expanded-SuperBold", Helvetica;
  --font-family-fabrikat-bold: "Fabrikat-Bold", Helvetica;
  --font-family-futura-medium: "Futura-Medium", Helvetica;
  --font-family-inter: "Inter", Helvetica;
  --font-family-overpass: "Overpass", Helvetica;
  --font-family-sf_pro_display-regular: "SF Pro Display-Regular", Helvetica;
  --font-family-sf_pro_display-semibold: "SF Pro Display-Semibold", Helvetica;
  --font-family-sf_pro_text-semibold: "SF Pro Text-Semibold", Helvetica;
}
.sfprodisplay-regular-normal-bondi-blue-12px {
  color: var(--bondi-blue);
  font-family: var(--font-family-sf_pro_display-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.akiraexpanded-super-bold-white-9-8px {
  color: var(--white);
  font-family: var(--font-family-akira_expanded-superbold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.overpass-normal-white-9-2px {
  color: var(--white);
  font-family: var(--font-family-overpass);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.sfprotext-normal-athens-gray-7-8px {
  color: var(--athens-gray);
  font-family: var(--font-family-sf_pro_text-semibold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.akiraexpanded-super-bold-white-16-2px {
  color: var(--white);
  font-family: var(--font-family-akira_expanded-superbold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.akiraexpanded-super-bold-white-13px {
  color: var(--white);
  font-family: var(--font-family-akira_expanded-superbold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.akiraexpanded-super-bold-white-13-5px {
  color: var(--white);
  font-family: var(--font-family-akira_expanded-superbold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
