/* screen - nda */

.nda {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1920px;
  overflow: hidden;
  width: 1080px;
}

.nda .overlap-group1 {
  height: 2190px;
  margin-left: -9px;
  margin-top: -8.0px;
  position: relative;
  width: 1097px;
}

.nda .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.nda .cori_alpha-1 {
  height: 1162px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 819px;
}

.nda .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 262px;
  width: 1080px;
}

.nda .title {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.nda .overlap-group {
  border-radius: 49px;
  height: 961px;
  left: 150px;
  position: absolute;
  top: 737px;
  width: 830px;
}

.nda .rectangle-4143 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 961px;
  left: 0;
  position: absolute;
  top: 0;
  width: 830px;
}

.nda .signing-a-document-i {
  color: #646464;
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 99px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 583px;
}

.nda .date-032323 {
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 721px;
}

.nda .signature-________________ {
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 407px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 717px;
}

.nda .left {
  border: 2px solid;
  border-color: var(--gray);
  border-radius: 15px;
  display: flex;
  height: 50px;
  width: 50px;
}

.nda .right {
  border: 2px solid;
  border-color: var(--heavy-metal);
  border-radius: 15px;
  display: flex;
  height: 50px;
  width: 50px;
}

.nda .rectangle-4161 {
  background-color: #b3b3b3;
  border-radius: 9.18px;
  height: 30px;
  left: 631px;
  position: absolute;
  top: 1431px;
  width: 105px;
}

.nda .sign {
  color: var(--black);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 655px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1435px;
}

.nda .rectangle {
  background-color: var(--heavy-metal);
  border-radius: 4px;
  height: 6px;
  width: 31.75px;
}

.nda .rectangle-1 {
  background-color: var(--granite-gray);
  border-radius: 4px;
  height: 6px;
  width: 31.75px;
}

.nda .rectangle-4156 {
  background-color: #4c4c4c;
  border-radius: 16px;
  height: 804px;
  left: 929px;
  position: absolute;
  top: 824px;
  width: 4px;
}

.nda .rectangle-4157 {
  background-color: var(--alto);
  border-radius: 16px;
  height: 449px;
  left: 929px;
  position: absolute;
  top: 1179px;
  width: 4px;
}

.nda .x3-limits-on-confide {
  color: var(--white);
  font-family: var(--font-family-futura-medium);
  font-size: var(--font-size-l);
  font-weight: 500;
  left: 249px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 838px;
  width: 637px;
}

.nda .arrow_down {
  height: 17px;
  left: 700px;
  position: absolute;
  top: 1437px;
  width: 19px;
}
