/* screen - slide-16-9-39 */

.slide-16-9-39 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 2088px;
  overflow: hidden;
  width: 1080px;
}

.slide-16-9-39 .overlap-group4 {
  height: 2358px;
  margin-left: -9px;
  margin-top: -8.0px;
  position: relative;
  width: 1097px;
}

.slide-16-9-39 .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.slide-16-9-39 .cori_alpha-1 {
  height: 1162px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 177px;
  width: 819px;
}

.slide-16-9-39 .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 430px;
  width: 1080px;
}

.slide-16-9-39 .rectangle-4152 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 423px;
  left: 578px;
  position: absolute;
  top: 1640px;
  width: 456px;
}

.slide-16-9-39 .x1032-am {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.slide-16-9-39 .weather-information {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 595px;
  min-height: 271px;
  position: absolute;
  top: 1708px;
  width: 175px;
}

.slide-16-9-39 .rainy-1 {
  left: 64px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 152px;
}

.slide-16-9-39 .sat-19-mar-2022 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-right: 20.2px;
  margin-top: 10px;
  min-height: 16px;
  min-width: 81px;
}

.slide-16-9-39 .x52-f {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-right: 30.0px;
  margin-top: 16px;
  min-height: 58px;
  min-width: 89px;
}

.slide-16-9-39 .this-week-weather {
  align-items: flex-start;
  display: flex;
  height: 279px;
  left: 764px;
  min-width: 291px;
  position: absolute;
  top: 1713px;
}

.slide-16-9-39 .flex-col {
  -webkit-backdrop-filter: blur(3.16px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(3.16px) brightness(100%);
  background: linear-gradient(180deg, rgb(35, 48, 57) 0%, rgb(42.89, 50.6, 59.5) 100%);
  border-radius: 12.23px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 279px;
  padding: 19.8px 12.5px;
  width: 249px;
}

.slide-16-9-39 .flex-col-1 {
  align-self: flex-end;
  min-height: 213px;
}

.slide-16-9-39 .flex-col-2 {
  gap: 9px;
  min-height: 176px;
}

.slide-16-9-39 .flex-col-3 {
  min-height: 139px;
}

.slide-16-9-39 .flex-col-4 {
  gap: 9px;
  min-height: 102px;
}

.slide-16-9-39 .flex-col-5 {
  gap: 9px;
  min-height: 65px;
}

.slide-16-9-39 .flex-col-6 {
  gap: 9px;
  min-height: 28px;
}

.slide-16-9-39 .flex-row {
  align-items: center;
  display: flex;
  min-width: 216px;
}

.slide-16-9-39 .sun-20-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  min-height: 15px;
  min-width: 70px;
}

.slide-16-9-39 .text-29 {
  margin-bottom: 0.81px;
  margin-left: 32px;
}

.slide-16-9-39 .rain-raining-svgrepo-com {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-39 .rainy {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  margin-left: 6px;
  min-height: 15px;
  min-width: 34px;
}

.slide-16-9-39 .line {
  height: 1px;
  margin-left: 0;
  object-fit: cover;
  width: 224px;
}

.slide-16-9-39 .x-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  min-height: 15px;
  min-width: 69px;
}

.slide-16-9-39 .text-3 {
  margin-bottom: 0.81px;
  margin-left: 33px;
}

.slide-16-9-39 .rain-raining-svgrepo-com-1 {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-39 .flex-row-1 {
  align-items: center;
  display: flex;
  min-width: 220px;
}

.slide-16-9-39 .tue-22-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  min-height: 15px;
  min-width: 68px;
}

.slide-16-9-39 .text-31 {
  margin-bottom: 0.81px;
  margin-left: 34px;
}

.slide-16-9-39 .storm-thunder-svgrepo-com {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-39 .storm {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  margin-left: 6px;
  min-height: 15px;
  min-width: 38px;
}

.slide-16-9-39 .flex-row-2 {
  align-items: center;
  display: flex;
  margin-top: 9px;
  min-width: 224px;
}

.slide-16-9-39 .wed-23-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-top: 0.77px;
  min-height: 15px;
  min-width: 71px;
}

.slide-16-9-39 .text-32 {
  margin-left: 31px;
  margin-top: 0.77px;
}

.slide-16-9-39 .icon-cloud {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-39 .cloudy {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-left: 6px;
  margin-top: 0.77px;
  min-height: 15px;
  min-width: 42px;
}

.slide-16-9-39 .line-4 {
  margin-left: 0;
  margin-top: 10px;
  width: 224px;
}

.slide-16-9-39 .flex-row-3 {
  align-items: center;
  display: flex;
  min-width: 224px;
}

.slide-16-9-39 .icon-cloud-1 {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-39 .cloudy-1 {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.81px;
  margin-left: 6px;
  min-height: 15px;
  min-width: 42px;
}

.slide-16-9-39 .flex-row-4 {
  align-items: flex-end;
  display: flex;
  margin-top: 8px;
  min-width: 221px;
}

.slide-16-9-39 .fri-25-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  min-height: 15px;
  min-width: 62px;
}

.slide-16-9-39 .text-34 {
  margin-bottom: 0.02px;
  margin-left: 40px;
}

.slide-16-9-39 .cloudy-clouds-and-sun-svgrepo-com {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-39 .sunny {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  margin-left: 6px;
  min-height: 15px;
  min-width: 39px;
}

.slide-16-9-39 .line-6 {
  margin-left: 0;
  margin-top: 11px;
  width: 224px;
}

.slide-16-9-39 .flex-row-5 {
  align-items: flex-end;
  display: flex;
  margin-left: 0.11px;
  min-width: 221px;
}

.slide-16-9-39 .sat-26-mar {
  letter-spacing: -0.13px;
  line-height: normal;
  margin-bottom: 0.02px;
  min-height: 15px;
  min-width: 67px;
}

.slide-16-9-39 .text-35 {
  margin-bottom: 0.02px;
  margin-left: 35px;
}

.slide-16-9-39 .cloudy-clouds-and-sun-svgrepo-com-1 {
  height: 17px;
  margin-left: 35px;
  object-fit: cover;
  width: 17px;
}

.slide-16-9-39 .rectangle-4139 {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background: linear-gradient(180deg, rgba(72.4, 73.14, 78.63, 0.25) 40.53%, rgba(64.67, 73.72, 88.19, 0.25) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1;
  border-radius: 49px;
  height: 837px;
  left: 48px;
  position: absolute;
  top: 1226px;
  width: 507px;
}

.slide-16-9-39 .todays-schedule {
  left: 92px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1268px;
  width: 250px;
}

.slide-16-9-39 .feb-3rd {
  left: 428px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1271px;
}

.slide-16-9-39 .line-2 {
  left: 139px;
  position: absolute;
  top: 1393px;
  width: 381px;
}

.slide-16-9-39 .line-4-1 {
  height: 1px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 1619px;
  width: 381px;
}

.slide-16-9-39 .line-3 {
  left: 139px;
  position: absolute;
  top: 1505px;
  width: 381px;
}

.slide-16-9-39 .line-5 {
  left: 139px;
  position: absolute;
  top: 1732px;
  width: 381px;
}

.slide-16-9-39 .line-6-1 {
  height: 1px;
  left: 139px;
  object-fit: cover;
  position: absolute;
  top: 1844px;
  width: 381px;
}

.slide-16-9-39 .line-7 {
  left: 139px;
  position: absolute;
  top: 1957px;
  width: 381px;
}

.slide-16-9-39 .x0900-am {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1383px;
  width: 65px;
}

.slide-16-9-39 .x1000-am {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1496px;
  width: 65px;
}

.slide-16-9-39 .x1100-am {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1609px;
  width: 65px;
}

.slide-16-9-39 .x100-pm {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1834px;
  width: 56px;
}

.slide-16-9-39 .x1200-pm {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1721px;
  width: 73px;
}

.slide-16-9-39 .x200-pm {
  left: 74px;
  letter-spacing: -0.13px;
  line-height: normal;
  position: absolute;
  top: 1947px;
  width: 73px;
}

.slide-16-9-39 .overlap-group3 {
  border-radius: 49px;
  height: 394px;
  left: 586px;
  position: absolute;
  top: 1226px;
  width: 456px;
}

.slide-16-9-39 .rectangle-4143 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 394px;
  left: 0;
  position: absolute;
  top: 0;
  width: 456px;
}

.slide-16-9-39 .how-can-i-help {
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 240px;
}

.slide-16-9-39 .overlap-group {
  border-radius: 13px;
  height: 75px;
  left: 56px;
  position: absolute;
  top: 90px;
  width: 336px;
}

.slide-16-9-39 .rectangle-4142 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 4.69%, rgba(255, 255, 255, 0.75) 29.77%, rgba(255, 255, 255, 0.75) 94.79%);
  border-radius: 13px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.slide-16-9-39 .im-here-for-a-shoot {
  left: 71px;
  top: 23px;
  width: 202px;
}

.slide-16-9-39 .overlap-group1 {
  height: 81px;
  left: 56px;
  position: absolute;
  top: 176px;
  width: 365px;
}

.slide-16-9-39 .rectangle-4144 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 29.77%, rgba(168, 178, 185, 0.75) 94.79%);
  border-radius: 13px;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.slide-16-9-39 .im-here-for-a-meeting {
  left: 59px;
  top: 21px;
  width: 306px;
}

.slide-16-9-39 .overlap-group2 {
  height: 84px;
  left: 55px;
  position: absolute;
  top: 265px;
  width: 349px;
}

.slide-16-9-39 .need-a-quick-facility-tour {
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 306px;
}

.slide-16-9-39 .flex-col-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 224px;
}

.slide-16-9-39 .line-1 {
  height: 1px;
  object-fit: cover;
}

.slide-16-9-39 .rain {
  height: 171px;
  width: 169px;
}

.slide-16-9-39 .text {
  letter-spacing: -0.13px;
  line-height: normal;
  min-height: 15px;
  min-width: 21px;
}
