/* screen - slide-16-9-50 */

.slide-16-9-50 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1920px;
  overflow: hidden;
  width: 1080px;
}

.slide-16-9-50 .group-4626 {
  align-items: flex-start;
  display: flex;
  margin-left: -9px;
  margin-top: -8px;
  min-width: 1101px;
}

.slide-16-9-50 .overlap-group {
  height: 2190px;
  position: relative;
  width: 1097px;
}

.slide-16-9-50 .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.slide-16-9-50 .cori_alpha-1 {
  height: 1162px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 819px;
}

.slide-16-9-50 .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 262px;
  width: 1080px;
}

.slide-16-9-50 .rectangle-4139 {
  -webkit-backdrop-filter: blur(30px) brightness(100%);
  backdrop-filter: blur(30px) brightness(100%);
  background: linear-gradient(180deg, rgba(72.4, 73.14, 78.63, 0.25) 40.53%, rgba(64.67, 73.72, 88.19, 0.25) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0)) 1;
  border-radius: 49px;
  height: 801px;
  left: 48px;
  position: absolute;
  top: 1058px;
  width: 507px;
}

.slide-16-9-50 .rectangle-4143 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 383px;
  left: 590px;
  position: absolute;
  top: 1058px;
  width: 456px;
}

.slide-16-9-50 .rectangle-4144 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 383px;
  left: 590px;
  position: absolute;
  top: 1476px;
  width: 456px;
}

.slide-16-9-50 .title {
  color: var(--white);
  font-family: var(--font-family-fabrikat-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
}

.slide-16-9-50 .feb-3rd {
  color: var(--white);
  font-family: var(--font-family-fabrikat-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 78px;
}
