:root { 
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 12.9px;
  --font-size-m: 12.6px;
  --font-size-s: 11.4px;
  --font-size-xl: 16.2px;
  --font-size-xxl: 25px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 48.5px;
 
  --font-family-fabrikat-medium: "Fabrikat-Medium", Helvetica;
  --font-family-fabrikat-regular: "Fabrikat-Regular", Helvetica;
  --font-family-rubik: "Rubik", Helvetica;
}
.rubik-medium-white-12-6px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.rubik-semi-bold-white-12-6px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.rubik-normal-white-12-6px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.rubik-medium-white-11-4px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.fabrikat-medium-white-30px {
  color: var(--white);
  font-family: var(--font-family-fabrikat-medium);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.fabrikat-medium-black-25px {
  color: var(--black);
  font-family: var(--font-family-fabrikat-medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}
