/* screen - take-photo-photo-process */

.take-photo-photo-process {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(43, 55, 61) 0%, rgb(78, 89, 97) 29.29%, rgb(52.89, 57.66, 61.62) 54.46%, rgb(14, 19, 24) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1920px;
  overflow: hidden;
  width: 1080px;
}

.take-photo-photo-process .overlap-group1 {
  height: 2190px;
  margin-left: -9px;
  margin-top: -8.0px;
  position: relative;
  width: 1097px;
}

.take-photo-photo-process .rectangle-4136 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(42, 54, 61) 0%, rgb(25.5, 32.3, 38.25) 100%);
  height: 1255px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1097px;
}

.take-photo-photo-process .cori_alpha-1 {
  height: 1162px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 819px;
}

.take-photo-photo-process .rectangle-4138 {
  background: linear-gradient(180deg, rgba(21, 27, 32, 0) 0%, rgb(20, 28, 34) 68.75%, rgb(17.6, 24.54, 29.75) 91.67%);
  height: 1928px;
  left: 9px;
  position: absolute;
  top: 262px;
  width: 1080px;
}

.take-photo-photo-process .x1032-am {
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.take-photo-photo-process .overlap-group {
  border-radius: 49px;
  height: 668px;
  left: 172px;
  position: absolute;
  top: 1030px;
  width: 758px;
}

.take-photo-photo-process .rectangle-4143 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background: linear-gradient(180deg, rgba(51.46, 56.37, 62.69, 0.35) 3.12%, rgba(52, 59, 68, 0.35) 38.03%, rgba(61.59, 68.14, 78.63, 0.35) 84.72%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 49px;
  height: 668px;
  left: 0;
  position: absolute;
  top: 0;
  width: 758px;
}

.take-photo-photo-process .group-4625 {
  display: flex;
  height: 19px;
  left: 194px;
  position: absolute;
  top: 91px;
  width: 371px;
}

.take-photo-photo-process .text {
  height: 19px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
  width: 368.58px;
}

.take-photo-photo-process .icon-camera {
  height: 44px;
  left: 520px;
  object-fit: cover;
  position: absolute;
  top: 1241px;
  width: 58px;
}

.take-photo-photo-process .rectangle-4158 {
  background-color: var(--alto);
  border-radius: 21px;
  height: 62px;
  left: 444px;
  position: absolute;
  top: 1323px;
  width: 210px;
}

.take-photo-photo-process .text-1 {
  color: var(--black);
  font-family: var(--font-family-fabrikat-bold);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  left: 508px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  top: 1344px;
  white-space: nowrap;
}

.take-photo-photo-process .screen-shot-2023-03-21-at-553-1 {
  height: 518px;
  left: 207px;
  object-fit: cover;
  position: absolute;
  top: 1095px;
  width: 684px;
}
